<template>
     <span v-if="user"> 
        <chat v-bind:user="user"></chat>
     </span>
</template>

<script>
import chat from './ChatApp'
export default {
    data(){
        return{
            // user:''
        }
    },
    components:{
        'chat': chat,
    },  
    computed:{
        user(){
            return this.$store.state.user.id
        }
    },

}
</script>
