<template>
       <span>        
            
       <button @click="initMessage()" class="btn btn-info waves-effect waves-light btn-sm"><span class="btn-label"><i class="fa fa-envelope-o"></i></span> Message</button>
        
        <div class="modal fade" tabindex="-1" role="dialog" id="message_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">                       
                        <h4 class="modal-title">Direct Message</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <h1>{{name}}</h1>
                            <input type="hidden" name="id" id="id" v-model="id" class="form-control">
                        </div>                        
                        <div class="form-group">
                            <label for="body">Message Description:</label>
                            <textarea name="body" id="body" cols="30" rows="5" class="form-control"
                            placeholder="Message" v-model="body" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                        <button type="button" @click="sendDM" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->   
        
        </span>    
               
   
    

</template>

<script>
export default {
   props:['id','name'],
    
    methods: {

         initMessage(){
                this.errors = [];
                $("#message_model").modal("show");
            },   
            
            sendDM(){
                axios.post('/api/directMessage', {                  
                    body: this.body,
                    user: this.id,
                })
                   .then(response => {
                        $("#message_model").modal("hide");
                        this.reset();                       
                    })                    
            },

            reset(){
                this.id = ''
                this.body = '';
            },
    }
}
</script>
