<template>
<span>
	<div v-for="post in posts" :key="post.id">	 
		<div class="card border-top-info rounded-0 mb-0">
		            
                <div class="card-header bg-white py-2 header-elements-sm-inline">
					<h6 class="card-title"><a href="#" class="ml-1 label label-outline">
                                        <i class="icon-plus2"></i> Follow                                   
                                    </a></h6>
					<div class="header-elements">
						<div class="d-flex flex-wrap align-items-center">
									<a href="#" class="mr-0"><img src="assets/images/placeholders/placeholder.jpg" class="rounded-round" width="36" height="36" alt=""></a>
									<a href="#" class="mr-0"><img src="assets/images/placeholders/placeholder.jpg" class="rounded-round" width="36" height="36" alt=""></a>
									<a href="#" class="mr-0"><img src="assets/images/placeholders/placeholder.jpg" class="rounded-round" width="36" height="36" alt=""></a>
									<a href="#" class="ml-1 label label-outline">
                                        <i class="icon-plus2"></i> 57                                       
                                    </a>
						</div>
					</div>
				</div>

           <!-- Users Profile -->
			<div class="card-body py-1 m-1">                
				<div class="media m-0">
					<div class="mr-3">
						<a href="#">
							<img src="assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="36" height="36" alt="">
						</a>
					</div>

					<div class="media-body">
						<a href="#" class="font-weight-semibold text-default d-block">Eugene Kopyov</a>
						<span class="text-muted">Amsterdam, Netherlands</span> 
					</div>
				</div>
			</div>

            <!-- Featured Images -->
			<a href="#">
				<img class="card-img-top" src="assets/images/placeholders/placeholder.jpg" alt="" height="400px">
			</a>

            <!-- Main Articles -->
			<div class="card-body">  
                <!-- articles Title -->
                <h3 class="font-weight-semibold mb-1">
					<a href="#" class="text-default">{{post.title}}</a>
				</h3> 
                <!-- Article Video -->
                <!-- <div class="card-img-actions mr-3" style="{width: 35%; float: left; max-width: 10rem; z-index: 10;}">
					<img class="card-img img-fluid" src="assets/images/placeholders/placeholder.jpg" alt="">									
				</div> -->
                <!-- Article Image -->
                <div class="card-img-actions mr-3" style="{width: 35%; float: left; max-width: 10rem; z-index: 10;}">
					<img class="card-img img-fluid" src="assets/images/placeholders/placeholder.jpg" alt="">									
				</div>
               
                <!-- articles -->	{{posts}}			
                <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>             
				 Custom color of the <strong>top</strong> border. Use optional <code>.rounded-top-0</code> class to remove rounded top corners
                <!-- Read More Link -->
                <a href="#">[...]</a>
            </div>           

            <div class="card-footer d-flex">
				<a href="#" class="text-default text-info mr-2">29 <i class="icon-heart6"></i> Liked</a>
                <a href="#" class="text-default mr-2"><i class="icon-heart6"></i> Bookmark</a>
                <a href="#" class="text-default text-muted mr-2">50  Comments</a>             
				
                <span class="ml-auto">
                    <div class="list-icons">
						<div class="list-icons-item dropdown">
							<a href="#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="icon-menu7"></i>
							</a>

							<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(16px, 17px, 0px);">
								<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Hide user posts</a>
								<a href="#" class="dropdown-item"><i class="icon-user-block"></i> Block user</a>
								<a href="#" class="dropdown-item"><i class="icon-user-minus"></i> Unfollow user</a>
								<div class="dropdown-divider"></div>
								<a href="#" class="dropdown-item"><i class="icon-embed"></i> Embed post</a>
									<a href="#" class="dropdown-item"><i class="icon-blocked"></i> Report this post</a>
							</div>
						</div>
					</div>
                </span>
			</div>			
		 </div>  

		 <!-- post Comments -->
			<div class="card border-top-info rounded-0"> 
				<div class="card-header bg-white py-2 header-elements-inline">
								<h6 class="card-title font-weight-semibold">Discussion</h6>
								<div class="header-elements">
									<ul class="list-inline list-inline-dotted text-muted mb-0">
										<li class="list-inline-item">42 comments</li>
										<li class="list-inline-item">75 pending review</li>
									</ul>
			                	</div>
							</div>
					<div class="card-body">
						
						<textarea class="form-control" v-focus v-model="post.reply" placeholder="leave a Contribution..." 
							v-on:keyup.enter="comment(post)">
						</textarea>
						
						<comment-list v-if="post.comments" :collection="post.comments" :comments="post.comments.root"> </comment-list>
					
					</div>

															
			</div>
	</div>
</span>
	 
		
</template>




<script>
 	 import CommentList from './CommentList.vue';
	 import Like from '../.././Like.vue';
	 import Bookmark from '../.././Bookmark.vue';

	export default {		
		props:['slug'],
		data(){
			return {
				post: {
					reply: '',									
				},	
			}
		},
		computed: {							
			posts(){
				return this.$store.getters.getPostById(this.slug);
			},		
		},
		components: {
			'comment-list': CommentList,
			'Like':Like,
			'Bookmark': Bookmark
		},
		
		
	}
</script>