<template>    
    <span>	
    <div class="card border-top-1 border-top-info rounded-0" v-for="post in posts" :key="post.id">
                
                <div class="card-header bg-white py-2 header-elements-sm-inline">
					<h5 class="card-title">
                        <span v-if="post.is_premium" class="badge bg-danger ml-2"> Premium </span>  
                        <span v-else class="badge bg-info ml-2"> Free </span> 
                    </h5>
					<div class="header-elements">
						<div class="d-flex flex-wrap align-items-center">
							<a href="#" class="mr-0"><img src="assets/images/placeholders/placeholder.jpg" class="rounded-round" width="36" height="36" alt=""></a>
							<a href="#" class="mr-0"><img src="assets/images/placeholders/placeholder.jpg" class="rounded-round" width="36" height="36" alt=""></a>
							<a href="#" class="mr-0"><img src="assets/images/placeholders/placeholder.jpg" class="rounded-round" width="36" height="36" alt=""></a>
							<a href="#" class="ml-1 label label-outline">
                                <i class="icon-plus2"></i> 57  
                            </a>
						</div>
					</div>
				</div>

           <!-- Users Profile -->
			<div class="card-body py-1 m-1">                
				<div class="media m-0">
					<div class="mr-3">
						<a href="#">
							<img :src="'/storage/'+ post.user.avatar"  class="rounded-circle" width="36" height="36" alt="">
						</a>
					</div>
					<div class="media-body">						
                        <router-link v-bind:to="{name: 'profile', params: {slug: post.user.slug}}"> 
                            <span>{{post.user.name}} </span>
                        </router-link>
                        |
                        <span class="text-muted" v-for="status in post.user.status" :key="status.id"> 
                            <span v-if="status.type === 'education'">
                                <span>Studied {{status.course}} ,</span> <span>at {{status.institution}}</span>
                            </span> 
                            <span v-else-if="status.type === 'work'">
                                <span>{{status.course}} ,</span> <span>at {{status.institution}}</span>
                            </span>
                            <span v-else-if="status.type === 'award'">
                                <span>Awarded {{status.award}} ,</span> <span>at {{status.institution}}</span>
                            </span> 
                        </span> 
					</div>
                    <!-- <router-link v-bind:to="{name: 'category', params: {id: post.category.name}}">{{post.category.name }}</router-link> |  -->
                    <timeago :since="post.created_at" :auto-update="60"></timeago> 
				</div>
			</div>

            <!-- Featured Images -->
			<a href="#" v-if="post.image">
				<img class="card-img-top" :src="'/storage/post_thumbs/'+ post.image" alt="" height="400px">
			</a>

            <!-- Main Articles -->
			<div class="card-body">  
                <!-- articles Title -->
                <h3 class="font-weight-semibold mb-1">
					<a href="#" class="text-default">{{post.title}}</a>
				</h3> 
                <!-- Article Video -->
                <!-- <div class="card-img-actions mr-3" style="{width: 35%; float: left; max-width: 10rem; z-index: 10;}">
					<img class="card-img img-fluid" src="assets/images/placeholders/placeholder.jpg" alt="">									
				</div> -->
                <!-- Article Image -->
                <div class="card-img-actions mr-3" style="{width: 35%; float: left; max-width: 10rem; z-index: 10;}" v-if="post.image">
					<img class="card-img img-fluid" :src="'/storage/post_thumbs/'+ post.image" alt="">									
				</div>
               
                <!-- articles -->
                <p v-trimHTML v-html="post.content" v-trim></p>
                <!-- Read More Link -->
                <router-link  v-bind:to="{name: 'article', params: {slug: post.slug}}"> Read More </router-link>
            </div>           

            <div class="card-footer d-flex">
                <like :id="post.id" :type="'post'" :count="post.likes"></Like>                
                <Bookmark :id="post.id" :type="'bookmark'"></Bookmark>
                <a href="#" class="text-default text-muted mr-2">{{post.comment.length}}  Comments</a> 
                <a href="#" class="text-default text-muted mr-2">{{post.views}}  views</a>             
				
                <span class="ml-auto">
                    <div class="list-icons">
						<div class="list-icons-item dropdown">
							<a href="#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="icon-menu7"></i>
							</a>

							<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(16px, 17px, 0px);">
								<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Hide user posts</a>
								<a href="#" class="dropdown-item"><i class="icon-user-minus"></i> Unfollow user</a>
								<div class="dropdown-divider"></div>
								<a href="#" class="dropdown-item"><i class="icon-blocked"></i> Report this post</a>
							</div>
						</div>
					</div>
                </span>
			</div>
		</div>

    </span>	
</template>
<script> 
	export default {
        props:['posts'],
        data(){
            return{
                maxLength: {default: 5, type: Number},               
            }
        },	
      
    methods: {
       
    },
        
	directives: {
        trim: {
            // directive definition
            inserted: function (el) {
             var str = el.innerHTML;
				var resultString = str.split(' ').slice(0,50).join(" ") + "...";
				el.innerHTML = resultString
            }
		},
		trimHTML: {
            // directive definition
            inserted: function (el) {
             var str = el.innerHTML;
				var resultString = str.replace(/<(.|\n)*?>/g,'');
				el.innerHTML = resultString
            }
		},		
	}, 
}
</script>

<style>

</style>
