<template>
    <div>
        <textarea v-focus v-model="content" class="form-control" v-on:keyup.enter="replyTo(comment)"></textarea>
        <hr>
    </div>
    
</template>
<style>
</style>
<script>
    export default{

    directives: {
        focus: {
            // directive definition
            inserted: function (el) {
            el.focus()
            }
        }
        },

        props: ['comment'],
        
        data(){
            return{
                content: ''
            }
        },
        methods:{
            replyTo(comment){
                axios.post('/api/comment', {content: this.content, post_id: comment.post_id, parent_id: comment.id}).then(response => {
                   this.content = '';
                   if (!response.data.error) {
                    this.content = '';
                    let payLoad = {
                        post_id: comment.post_id,
                        comments: response.data.data
                    };
                    this.$store.commit('updateComments',payLoad);
                }
            });
            }
        }
    }
</script>
