<template>
                          

 <li class="media flex-column flex-md-row">
    <!-- Comment Row -->       
        <!-- Comment profile --> 
        <div class="mr-md-3 mb-2 mb-md-0">
			<router-link  v-bind:to="{name: 'profile', params: {slug: comment.user.slug}}">  
                <img :src="'/storage/'+ comment.user.avatar" alt="user" class="img-circle" width="25px" /> 
            </router-link>
		</div>           
        <div class="media-body">
            <div class="media-title">				
                <router-link v-bind:to="{name: 'profile', params: {slug: comment.user.slug}}" class="font-weight-semibold">{{comment.user.name}}</router-link> | 
				<span v-for="status in comment.user.status" :key="status.id"> 
                    <span v-if="status.type === 'education'">
                        <span>Studied {{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                    </span> 
                    <span v-else-if="status.type === 'work'">
                        <span>{{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                    </span>
                    <span v-else-if="status.type === 'award'">
                        <span>Awarded {{status.award}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                    </span> 
                    </span>
			</div>
                         
        </div>    
        <p> {{comment.content}}</p>  
        <ul class="list-inline list-inline-dotted font-size-sm">
												<li class="list-inline-item"><timeago :since="comment.created_at" :auto-update="60"></timeago> </li>
												<li class="list-inline-item"><a href="javascript:void(0)" @click="replyToComment = comment"><i class="ti-pencil-alt"></i>Reply</a></li>
												<li class="list-inline-item"><like :id="comment.id" :type="'comment'" :count="comment.likes"></like></li>
		</ul>
        
            
        <comment-form v-if="replyToComment == comment" :comment="comment"> </comment-form>
        <comment-list v-if="collection[comment.id]" v-bind:comments="collection[comment.id]" v-bind:collection="collection"></comment-list>
   </li>
</template>
<script>
    import CommentList from './CommentList.vue';
    import CommentForm from './CommentForm.vue';    

    export default{
        props: ['comment', 'collection'],

        data(){
            return {
                replyToComment: false
            }
        },
        
        components: {
            'comment-list': CommentList,
            'comment-form': CommentForm,            
        }

        
    }
</script>
