<template>
<span>
  <div v-if="showDropzone">
    <vue-dropzone id="upload" ref="dropzone" :options="dropzoneOptions"></vue-dropzone>    
  </div>
  <button @click="dr()"></button>
</span>
</template>

<script>
import vueDropzone from "vue2-dropzone";

export default {
  data: () => ({
    dropzoneOptions: {
          url: 'https://httpbin.org/post',
          thumbnailWidth: 50,
          thumbnailHeight: 50,
          maxFilesize: 2.5,
          headers: { "My-Awesome-Header": "header value" }
      },
    showDropzone: true,
  }),
  components: {
    vueDropzone
  },
  mounted() {
     
  },
  methods:{
      dr(){       
      var file = { size: 123, name: "Icon" };
      var url = "https://myvizo.com/img/logo_sm.png";
      this.$refs.dropzone.manuallyAddFile(file, url);
      }
  }
};
</script>