<template>
   
        <span v-if="!isFollowing">
            <a class=" waves-effect waves-light" @click="toggleFollow()">
                <span class="btn-label"><i class="mdi mdi-account-plus"></i></span><strong> Follow</strong>
            </a>
        </span>
        <span v-else>
            <!-- <a class="waves-effect waves-light" @click="toggleFollow()"> -->
                <i class="fa fa-glass text-danger"></i>  
            <!-- </a> -->
        </span>
    
</template>

<script>
export default {
    props: ['id', 'type'],
    data() {
        return {
            isFollowing: this.userIsFollowing()
        }
    },
    methods: {
        toggleFollow() {
            axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
            axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                    } else {
                        this.isFollowing = false;
                    }
                });
        }
    }
}
</script>
