<template>
<span>

    <!-- User menu -->
    
                    <div class="card sidebar-user-material mb-0">
                        <div class="sidebar-user-material-body card-img-top">
                            <div class="card-body text-center">
                                <a href="#">
                                    <img :src="'/storage/'+ user.avatar" class="img-fluid rounded-circle shadow-2 mb-3" width="60" height="60" alt="">
                                </a>
                                <h6 class="mb-0 text-white text-shadow-dark">{{user.name}}</h6>
                                <span class="font-size-sm text-white text-shadow-dark" v-for="status in user.status" :key="status.id">
                                    
                                  <span v-if="status.type === 'education'">
                                  <i class="fa fa-graduation-cap"></i>  <span>Studied {{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                   </span> 
                                   <span v-else-if="status.type === 'work'">
                                       <span>{{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                   </span>
                                    <span v-else-if="status.type === 'award'">
                                       <span>Awarded {{status.award}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                    </span>                                     
                                </span>
                            </div>
                                                        
                            <div class="sidebar-user-material-footer">
                                <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>My account</span></a>
                            </div>
                        </div>
    
                        <div class="collapse mb-1" id="user-nav">
                            <ul class="nav nav-sidebar">
                               <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-coins"></i>
                                        <span>Subscribers</span>
                                        <span class="badge bg-success-400 badge-pill align-self-center ml-auto">58</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-comment-discussion"></i>
                                        <span>Messages</span>
                                        <span class="badge bg-success-400 badge-pill align-self-center ml-auto">58</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-comment-discussion"></i>
                                        <span>Forums</span>
                                        <span class="badge bg-success-400 badge-pill align-self-center ml-auto">58</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <router-link class="nav-link" v-bind:to="{name: 'editProfile'}">
                                        <i class="icon-switch2"></i>
                                        <span>Edit Profile</span>
                                    </router-link>                                   
                                </li>                              
                            </ul>
                              <hr class="m-0">
                        </div>
                       
                        
								<div class="card-body p-0 mt-0" style="">
									<ul class="nav nav-sidebar my-2">
										<li class="nav-item">
											<div class="nav-link legitRipple pt-1 pb-1">
												<i class="icon-user"></i>
												 Followers
                                                 <span class="badge bg-danger badge-pill ml-auto">{{totalFollowers}}</span>
											</div>
										</li>
                                        <li class="nav-item">
											<div class="nav-link legitRipple pt-1 pb-1">
												<i class="icon-user"></i>
												 Following
                                                 <span class="badge bg-danger badge-pill ml-auto">{{totalFollowing}}</span>
											</div>
										</li>
										<li class="nav-item">
											<div class="nav-link legitRipple pt-1 pb-1">
												<i class="icon-cash3"></i>
												 Articles
												<span class="badge bg-danger badge-pill ml-auto">{{totalArticles}}</span>
											</div>
										</li>
                                        <li class="nav-item">
											<div class="nav-link legitRipple pt-1 pb-1">
												<i class="icon-tree7"></i>
												Views
												<span class="badge bg-danger badge-pill ml-auto">{{totalArticleViews}}</span>
											</div>
										</li>	
										<li class="nav-item">
											<div class="nav-link legitRipple pt-1 pb-1">
												<i class="icon-tree7"></i>
												Likes
												<span class="badge bg-danger badge-pill ml-auto">{{totalArticleLikes}}</span>
											</div>
										</li>									
									</ul>
								</div>

							</div>
                   
                    <!-- /user menu -->
    
    

                      
                            <my-interest></my-interest>
                         
                            <!-- <my-pined-articles></my-pined-articles>    -->
                  
</span>
</template>

<script>
import myInterest from '../../MyInterest.vue'
import myPinedArticles from '../../MyPinedArticles.vue'

export default {  
  components:{
      'my-interest': myInterest,
      'my-pined-articles': myPinedArticles,
  },
  computed:{
    totalFollowers: function() {
        let followers = this.user.followers.length;
        return followers > 999 ? followers % 1000 === 0 ? (followers/1000).toFixed(0) + 'k' : (followers/1000).toString(1) + 'k' : followers;
    },
    totalFollowing: function() {
        let following = this.user.following.length;       
        return following > 999 ? following % 1000 === 0 ? (following/1000).toFixed(0) + 'k' : (following/1000).toString(1) + 'k' : following;
    }, 
    totalArticles: function() {
        let articles = this.$parent.posts.length;
        return articles > 999 ? articles % 1000 === 0 ? (articles/1000).toFixed(0) + 'k' : (articles/1000).toString(1) + 'k' : articles;
    }, 
    totalArticleLikes: function() {
        let likes = 0;
        for(let i = 0; i < this.$parent.posts.length; i++){
            likes += parseInt(this.$parent.posts[i].likes);
        }
        return likes > 999 ? likes % 1000 === 0 ? (likes/1000).toFixed(0) + 'k' : (likes/1000).toString(1) + 'k' : likes;
    },   
    totalArticleViews: function() {
        let views = 0;
        for(let i = 0; i < this.$parent.posts.length; i++){
            views += parseInt(this.$parent.posts[i].views);
        }
        return views > 999 ? views % 1000 === 0 ? (views/1000).toFixed(0) + 'k' : (views/1000).toString(1) + 'k' : views;
    },   
    user(){
        return this.$store.state.user;
    }  
},


}
</script>
