<template>
 <!-- Column -->
<span>
                      
                          <!-- Column -->
                         <mentor-suggest></mentor-suggest>     

                        <!--end column-->                      
                        <div class="card ">
                                                       
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="" class="text-muted m-2">About 5minutes</a>  
                                    </div>
                                    <div class="col">
                                        <a href="" class="text-muted m-2">Help</a> 
                                    </div>
                                    <div class="col">
                                        <a href="" class="text-muted m-2">Privacy Policy</a>
                                    </div>
                                    <div class="col">
                                        <a href="" class="text-muted m-2">Cookie Policy</a>
                                    </div>
                                    <div class="col">
                                        <a href="" class="text-muted m-2">Terms and Agreement</a>
                                    </div>
                                    <div class="col">
                                        <a href="" class="text-muted m-2">Security</a> 
                                    </div>
                                    <div class="col">
                                        <a href="" class="text-muted m-2">Feedback</a>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card-body text-center ">
                               <img src="assets/images/logo_dark.png" class="logo">
                            </div>
                        </div>

 </span>
</template>

<script>
export default {
  
}
</script>
