<template>
    <span>
        <comment v-for="comment in comments" :key="comment.id"  v-bind:comment="comment" v-bind:collection="collection"></comment>
   </span>
</template>
<script>
    export default{
        props: ['collection','comments'],
        computed:{
            
        },
        beforeCreate: function () {
            this.$options.components.Comment = require('./Comment.vue')
        }
    }
</script>
