<template>
 <!-- <div class="card card-body">
            <div class="card-body"> 
                 <div class="form-group">
                    <textarea :maxlength="maxLength" rows="3"  class="form-control" placeholder="Quick Articles"></textarea>
                </div>
                 <div class="form-group">                    
                    <a href="" class="btn btn-success">
                         <router-link v-bind:to="{name: 'articles'}">
                            <span class="font-medium">Articles</span>
                        </router-link>
                    </a>
                    <a href="" class="btn btn-success">subscribers</a>
                    <a href="" class="btn btn-success">mailing</a>
                    <a href="" class="btn btn-success">stats</a>
                 </div>
                
            </div>
        </div> -->

    <div class="card border-top-info rounded-0">
			<div class="card-header bg-transparent header-elements-inline">
				<h6 class="card-title">Top and bottom borders</h6>
			</div>	
            						
			<FileUpload />
           
           <quill-editor class="form-control"
                v-bind:model="content"
                :options="editorOption"
                >
            </quill-editor>
			<div class="card-body" style="">
				<form action="#">
				<!-- <textarea name="enter-message" class="form-control mb-3" rows="3" cols="1" placeholder="Enter your message..."></textarea> -->
                <div class="d-flex align-items-center">
                    <div class="list-icons list-icons-extended">
                        <a href="#" class="list-icons-item" data-popup="tooltip" title="" data-container="body" data-original-title="Add photo"><i class="icon-images2"></i></a>
                        <a href="#" class="list-icons-item" data-popup="tooltip" title="" data-container="body" data-original-title="Add video"><i class="icon-film2"></i></a>
                        <a href="#" class="list-icons-item" data-popup="tooltip" title="" data-container="body" data-original-title="Add event"><i class="icon-calendar2"></i></a>
                    </div>

				<!-- <button type="button" class="btn bg-info btn-labeled btn-labeled-right ml-auto legitRipple"><b><i class="icon-paperplane"></i></b> Share</button> -->
                <button type="button" class="btn btn-info btn-sm ml-auto legitRipple"><i class="icon-comment-discussion mr-2"></i> Share</button>
                 </div>
				</form>
			</div>
	</div>
   
</template>

<script>
import FileUpload from './FileUpload.vue'
export default {
     data () {
      return {
        content: '',
        editorOption: {
           placeholder: 'Compose an epic...',
            theme: 'snow',  // or 'bubble',
             modules: {
                toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['code-block']
                ]
            },
        }  
      }
    },
    components: {
        FileUpload
    }
}
</script>

<style>

</style>
