<template>
   <span>
		<div v-for="post in posts" :key="post.id">			
          		<div class="card">
                            <div class="card-body">                                
                                <div class="d-flex flex-wrap">
									 <div class="ribbon-bookmark ribbon ribbon-right ribbon-danger" v-if="post.is_premium">
                                        Premium
                                    </div>  
                                    <div class="ribbon-bookmark ribbon ribbon-right ribbon-success" v-else>
                                        Free
                                    </div>                                    
                                    <h5 class="link m-r-10">
                                        <mentor-follow-status :id="post.user_id" :type="'follow'"></mentor-follow-status>                                 
                                    </h5>                                                                      
                                </div>
                                <div>
                                    <hr class="m-t-0 m-b-1">
                                </div>

								<!-- Article Title -->	
									<h3 class="mb-0">
									<h3> {{ post.title }} </h3>
									</h3>
								<!-- Article main -->

                                  <div class="profiletimeline">                                    
									<div class="sl-left"> 
										<router-link  v-bind:to="{name: 'profile', params: {slug: post.user.slug}}">  
											<img :src=" '/storage/' + post.user.avatar" alt="user" class="img-circle"/> 
										</router-link>
									</div>
										
									<div class="sl-right">    
										<router-link v-bind:to="{name: 'profile', params: {slug: post.user.slug}}"><span class="font-medium">{{post.user.name}}</span></router-link> | 
										<span v-for="status in post.user.status" :key="status.id"> 
											<span v-if="status.type === 'education'">
												<span>Studied {{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
											</span> 
											<span v-else-if="status.type === 'work'">
												<span>{{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
											</span>
											<span v-else-if="status.type === 'award'">
												<span>Awarded {{status.award}} ,</span> <span class="text-muted">at {{status.institution}}</span>
											</span> 
										</span>                                                           
										<br>
										<!-- <router-link class="link" v-bind:to="{name: 'category', params: {id: post.category.name}}">{{post.category.name }}</router-link> |  -->
										<span class="sl-date"><timeago :since="post.created_at" :auto-update="60"></timeago> </span>                                                                                                     
									</div>         
                                  </div>
								  <br>
								  <div class="col-md-12">
                                        <div v-html="post.content"> </div>
                                   </div>      

                                  <!-- End Article Title -->
                                    <div class="col-md-12">
										<hr>
									<div class="d-flex flex-wrap text-muted">
										<div class="pull-left">
											<like :id="post.id" :type="'post'" :count="post.likes"></Like>
											<Bookmark :id="post.id" :type="'bookmark'"></Bookmark>
											<a  class="link m-r-10" data-toggle="tooltip" title="" data-original-title="Like"><i class="mdi mdi-comment-account-outline"></i><span>{{post.comment.length}}</span>Comments</a>
											<a  class="link m-r-10" data-toggle="tooltip" title="" data-original-title="Like"><i class="mdi mdi-eye"></i> {{post.views}} Views</a> 
										</div>
										<div class="ml-auto">
											<a  data-toggle="tooltip" title="menu" data-original-title="menu"><strong class="font-medium"><i class="mdi mdi-dots-horizontal"></i></strong></a>
										</div>
                                	</div>
										<hr class="p-t-0">
                                   </div> 
								
                            </div>                                                     
                        </div>

						<!-- Article Comments   -->
						<div class="card"> 								
								<textarea class="form-control" v-focus v-model="post.reply" placeholder="leave a Contribution..." 
										v-on:keyup.enter="comment(post)">
								</textarea>
								<comment-list v-if="post.comments" :collection="post.comments" :comments="post.comments.root"> </comment-list>
								<div class="clearfix"></div>							
						</div>

		<hr>
		</div>
    </span>
  
</template>




<script>
	 import CommentList from './CommentList.vue';
	 import Like from '../.././Like.vue';
	 import Bookmark from '../.././Bookmark.vue';
	
	export default {		
	directives: {
        focus: {
            // directive definition
            inserted: function (el) {
            el.focus()
            }
        }
		},
		
		data(){
			return {
				post: {
					reply: '',									
				},
				route_slug: this.$route.params.slug,		
			}
		},
		
		computed: {							
			posts(route_slug){
				return this.$store.getters.getPostById(this.route_slug);
			},		
		},

		components: {
			'comment-list': CommentList,
			'Like':Like,
			'Bookmark': Bookmark
		},
		mounted(){
			this.postView();
		},
		
		methods: {			
			comment(post){
				axios.post('/api/comment', {content: post.reply, post_id: post.id}).then(response => {
					if (!response.data.error) {
						post.reply = '';
						let payLoad = {
							post_id: post.id,
							comments: response.data.data
						};
						this.$store.commit('updateComments',payLoad);
					}
				});
			},

			 postView(post) {
				Axios.post('/api/post/views/', {type: 'post', vieable_id: this.$route.params.slug})
				.then((response) => {
				// this.profile = response.data;
				});
			},

		}
	}
</script>