<template>
    <div class="column is-2">
        <p v-for="forum in forums" :key="forum.id"
            v-text="forum.name"
            class="channel"
            :class="{ 'active': forum.id == activeChannel }"
            @click="setChannel(forum)"
            >
        </p>
    </div>
</template>

<script>
export default {
    props: ['forums', 'activeChannel'],

    methods: {        
        setChannel(forum) {
            this.$emit('channelChanged', forum);
        },    
    }

}
</script>

<style scoped>
.column {
    border-right: 2px dotted greenyellow;
}

.channel {
    cursor: pointer;
}

.channel.active {
    background: #666;
}
</style>