<template>
    <div class="row">
        <div class="col-md-3 hidden-sm-down">
            <a @click="initCreate" href="#">Create New Forum</a><br>
            {{'users list in channel'}}                 
        </div>   
                
        <div class="col-md-6">                         
            <messages :messages="messages" :userID="user.id"></messages>    
            <message-input v-bind:active-channel="activeChannel" v-bind:active-channel-name="activeChannelName"></message-input>                             
        </div>

        <div class="col-md-3 hidden-sm-down">
            <forums :forums="forums" :active-channel="activeChannel" @channelChanged="onChannelChanged"></forums>
        </div>               
                 

                                    <div class="modal fade" tabindex="-1" role="dialog" id="create_forum">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                   <div class="panel-heading">Create Forum</div>
                                                    <div class="panel-body">
                                                        <form>
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" v-model="name" placeholder="Forum Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <select v-model="users" multiple id="friends">
                                                                    <option v-for="user in initialUsers" :key="user.id">
                                                                        {{ user.name }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="panel-footer text-center">
                                                        <button type="submit" @click.prevent="createForum" class="btn btn-primary">Create Forum</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
    </div>
</template>


<script>
    import forums from './Forums.vue'
    import messages from './Message.vue'
    import messagesInput from './MessageInput.vue'

export default {
    
    props:['forums'],

    data() {
        return {           
            activeChannel: 0,
            activeChannelName: '',
            messages: [],
            forumUsers:[],            
            name: '',
            users: [],
            initialUsers:[],
        };
    },
    components:{
        'forums': forums,
        'messages': messages,
        'message-input': messagesInput,
    },
    computed:{
        user(){
            return this.$store.state.user
        },
    },

    methods: {
        fetchMessages() {        
        axios.get('api/forum_conversation/'+this.activeChannel)
            .then(({ data }) => {
                this.messages = data;
            });        
        },

        fetchMessages() {        
        axios.get('api/forum_users/'+this.activeChannel)
            .then(({ data }) => {
                this.messages = data;
            });        
        },

    onChannelChanged(forum) {
            this.activeChannel = forum.id;
            this.activeChannelName = forum.name;
            this.fetchMessages();
        },

    initCreate(){
                this.errors = [];
                $("#create_forum").modal("show");
            },

     createForum() {
                Axios.post('/forums', {
                    name: this.name, 
                    users: this.users
                })
                .then((response) => {
                    this.name = '';
                    this.users = [];
                    // Bus.$emit('forumCreated', response.data);
                     $("#create_forum").modal("hide");
                });
            }
    },

    mounted() {
            // this.fetchMessages();
            
            // For each forum...
            for (let forum of this.forums) {

                 Echo.channel('forum.'+forum.name)
                    .listen('MessagePushed', data => {
                        if (this.activeChannel == forum.id) {
                        this.messages.push(data.data);
                    }
                });              
            }
            
    },
        
}
</script>
