<template>
    <div class="message-input-wrapper">
        <input type="text"
            class="input"
            placeholder="New message"
            v-model="message"
            @keyup.enter.prevent="sendMessage">
    </div>
</template>

<script>
export default {
    props: ['activeChannel', 'activeChannelName'],

    data() {
        return {
            message: '',
        };
    },

    methods: {
        sendMessage() {
            let endpoint = `api/forum_conversation`;
            let data = {
                id: this.activeChannel,
                forum: this.activeChannelName,
                message: this.message
            };
            axios.post(endpoint, data);
            this.message = '';
        }
    }
}
</script>

<style>
.message-input-wrapper {
    border-top: 2px dotted greenyellow;
}
</style>