<template>
    <span>

<div class="card" style="zoom: 1;">

					<div class="card-header header-elements-inline">
						<h5 class="card-title">Default layout</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<ul class="media-list media-chat media-chat-scrollable mb-3">

							<span v-for="message in messages" :key="message.id" class="message">

							<li class="media media-chat-item-reverse" v-if="message.user_id === userID">
								<div class="media-body">
									<div class="media-chat-item">{{message.message}}</div>
									<div class="font-size-sm text-muted mt-2">{{message.created_at}}</div>
								</div>

								<div class="ml-3">
									<a href="assets/images/placeholders/placeholder.jpg">
										<img :src="'/storage/'+ message.user.avatar" class="rounded-circle" width="40" height="40" alt="">
									</a>
								</div>
							</li>

							<li class="media" v-else>
								<div class="mr-3">
									<a href="assets/images/placeholders/placeholder.jpg">
										<img :src="'/storage/'+ message.user.avatar" class="rounded-circle" width="40" height="40" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-chat-item">{{message.message}}</div>
									<div class="font-size-sm text-muted mt-2">{{message.created_at}} </div>
								</div>
							</li>
							
							</span>
						</ul>

                    	<textarea name="enter-message" class="form-control mb-3" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                    	<div class="d-flex align-items-center">
                    		<div class="list-icons list-icons-extended">
                                <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="" data-original-title="Send photo"><i class="icon-file-picture"></i></a>
                            	<a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="" data-original-title="Send video"><i class="icon-file-video"></i></a>
                                <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="" data-original-title="Send file"><i class="icon-file-plus"></i></a>
                    		</div>

                    		<button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-auto legitRipple"><b><i class="icon-paperplane"></i></b> Send</button>
                    	</div>
					</div>
				</div>

        <!-- <p v-for="message in messages" :key="message.id" class="message">

            <span class="datetime">{{ message.created_at }}</span>

            <span class="username">{{ message.id }}</span>

            <span class="datetime">{{ message.message }}</span>
            <span class="datetime">{{ message.user.name }}</span>
            <span class="datetime">{{ message.user.avatar }}</span>
        </p>         -->
    </span>
</template>

<script>
export default {
    props: ['messages','userID'],

    mounted() {
        this.scrollToBottom();
    },

    watch: {
        messages() {
            this.scrollToBottom();
        }
    },

    methods: {
        scrollToBottom() {
            this.$nextTick(() => {
                this.$refs['message-window'].scrollTop = this.$refs['message-window'].scrollHeight;
            });
        }
    },
}
</script>
