<template>
  <span>
     
      <a href="#" @click="initAddPost()" class="text-info"><i class="icon-file-picture mr-2 text-info"></i> Quick Edit</a>
                                       
                           
                                <!-- sample modal content -->
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="add_edit_profile_model">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">Edit Profile</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                       
                                                <div class="col-xs-12 col-sm-12 col-md-7 b-r p-0">
                                                   <div class="col-md-12">
                                                        <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Name:</label>
                                                        <div class="col-md-8">
                                                            <input type="text" name="name" id="name" v-model="user.name" class="form-control" disabled>
                                                        </div>
                                                    </div> 
                                                   </div> 

                                                   <div class="col-md-12">
                                                        <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Email:</label>
                                                        <div class="col-md-8">
                                                            <input type="email" name="email" id="email" v-model="user.email" class="form-control" disabled>
                                                        </div>
                                                    </div> 
                                                   </div> 

                                                   <div class="col-md-12">
                                                        <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Phone Number:</label>
                                                        <div class="col-md-8">
                                                            <input type="text" name="phone" id="phone" v-model="user.phone" class="form-control">
                                                        </div>
                                                    </div> 
                                                   </div> 

                                                   <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Birth Day:</label>
                                                            <div class="col-md-8">
                                                                <input id="birthday" type="date" name="birthday" v-model="user.birthday" class="form-control">                                          
                                                            </div>
                                                        </div>
                                                   </div>  

                                                   <div class="col-md-12">
                                                        <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Country:</label>
                                                        <div class="col-md-8">
                                                            <input type="text" name="country_id" id="country_id" v-model="user.country_id" class="form-control">
                                                        </div>
                                                    </div> 
                                                   </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-5 p-0">
                                                      <div class="card-body collapse show">
                                                        <div class="text-center"> <img :src="'/storage/'+user.avatar" class="img-circle" width="150">                                                           
                                                            <div class="row text-center justify-content-md-center">
                                                                <input type="file">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-md-12">
                                                    <div class="form-group row">                                                        
                                                        <div class="col-md-12">
                                                            <label class="control-label text-center">About:</label>
                                                            <textarea name="about" id="about" cols="30" rows="5" class="form-control"
                                                                    placeholder="About Description" v-model="user.about"></textarea>
                                                        </div>
                                                    </div> 
                                                </div> 
                                                  
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" @click="updateProfile" class="btn btn-info waves-effect text-left" >Save</button>
                                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            
                                       
     </span>
</template>
<script>
export default {    
    
  methods:{
      initAddPost(){
                this.errors = [];
                $("#add_edit_profile_model").modal("show");
            },   

        updateProfile(){
                axios.post('/api/update/profile', {                   
                   name: this.user.name,
                   email: this.user.email,
                   phone: this.user.phone,
                   birthday: this.user.birthday,
                   country_id: this.user.country_id,
                   about: this.user.about
                })
                   .then(response => {
                        $("#add_edit_profile_model").modal("hide");
                        this.reset();                       
                    })                    
            },

            reset(){
                this.name = '',
                this.email = '',
                this.phone = '',
                this.birthday = '',
                this.country_id = '',
                this.about = ''
            },
  },
  computed:{
         user(){
				return this.$store.state.user;
			},
    },

    
}
</script>
