<template>
             <span>

        <div class="card-header bg-transparent header-elements-inline">
			<h6 class="card-title font-weight-semibold">
				<i class="icon-folder6 mr-2"></i>
				Education
			</h6>

			<div class="header-elements">
				<span class="text-muted mr-3">You have {{data.length}} Education </span>               
                <a href="#" @click="initCreate()" class="pull-left"> <i class="icon-plus2 text-info">Add</i></a>
			</div>
		</div>
       
        <div class="list-group list-group-flush" v-if="data">
			<div class="list-group-item list-group-item-action legitRipple" v-for="(education, index) in data">
				<i class="icon-file-pdf mr-3"></i>
				<i class="fa fa-graduation-cap"></i>  <span>Studied {{ education.award }} {{education.course}} ,</span> <span class="text-muted">at {{education.institution}} {{ education.date_to }}</span>
			    <div class="ml-auto">
                    <a href="#" @click="initUpdate(index)" class="badge bg-info-400 text-right">Edit</a>
                    <a href="#" v-if="!education.is_default" @click="makeDefault(index)" class="badge bg-success-400 text-right">Make default</a>
                    <a href="#" @click="deletePost(index)" class="badge bg-danger-400 text-right">Delete</a>
                </div>                
			</div>
		</div>
        <div class="text-center" v-else>
            <button @click="initCreate()" class="pull-center btn btn-success btn-sm"><i class="icon-file-pdf mr-3"></i>Add Award </button>
        </div>

                                          <div class="modal fade" tabindex="-1" role="dialog" id="add_education_model">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5>Education</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                        <div class="alert alert-danger" v-if="errors.length > 0">
                                                            <ul>
                                                                <li v-for="error in errors" :key="error.id">{{ error }}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Institution:</label>
                                                            <input type="text" name="institution" id="institution" placeholder="Institution" class="form-control"
                                                                v-model="data.institution">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Course:</label>
                                                            <input type="text" name="course" id="course" placeholder="Course" class="form-control"
                                                                v-model="data.course">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Award:</label>
                                                            <input type="text" name="award" id="award" placeholder="Award" class="form-control"
                                                                v-model="data.award">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>From:</label>
                                                            <input type="date" name="from" id="from" placeholder="From" class="form-control"
                                                                v-model="data.from">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>To:</label>
                                                            <input type="date" name="to" id="to" placeholder="To" class="form-control"
                                                                v-model="data.to">
                                                        </div>
                                                        <input type="hidden" name="type" id="type" value="education" v-model="type">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" @click="addEducation" class="btn btn-primary">Add Education</button>
                                                    </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->

                                        <div class="modal fade" tabindex="-1" role="dialog" id="update_post_model">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                        <h4 class="modal-title">Update Post</h4>
                                                    </div>
                                                    <div class="modal-body">
                                
                                                        <div class="alert alert-danger" v-if="errors.length > 0">
                                                            <ul>
                                                                <li v-for="error in errors">{{ error }}</li>
                                                            </ul>
                                                        </div>
                                
                                                        <div class="form-group col-md-12">
                                                            <label>Institution:</label>
                                                            <input type="text" name="institution" id="institution" placeholder="Institution" class="form-control"
                                                                v-model="update.institution">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Course:</label>
                                                            <input type="text" name="course" id="course" placeholder="Course" class="form-control"
                                                                v-model="update.course">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Award:</label>
                                                            <input type="text" name="award" id="award" placeholder="Award" class="form-control"
                                                                v-model="update.award">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>From:</label>
                                                            <input type="date" name="from" id="from" placeholder="From" class="form-control"
                                                                v-model="update.date_from">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>To:</label>
                                                            <input type="date" name="to" id="to" placeholder="To" class="form-control"
                                                                v-model="update.date_to">
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" @click="updatePost" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->                     

                                        
                                   
            </span>                          
</template>
<script>
export default {   
    data(){
            return {
                data:{
                    institution: '',   
                    course: '',
                    award: '',          
                    date_from: '', 
                    date_to: '',                    
                }, 
                type:'education',               
                errors: [],               
                update: {},
                view_post: {}, 
                test:  '',        
            }
        },      

        mounted()
        {
            this.readData();
        },  

   methods:{     
        readData(){
                axios.get('/api/achievement')
                    .then(response => {
                        // this.data = response.data;
                         this.data = response.data.filter(function(test){
                             return test.type.match('education')
                         });
                    });
            },
         initCreate(){
                this.errors = [];
                $("#add_education_model").modal("show");
            },
        addEducation()
            {
                axios.post('/api/achievement', {
                    type: this.type,
                    institution: this.data.institution,
                    course: this.data.course,
                    award: this.data.award,
                    date_from: this.data.from,
                    date_to: this.data.to
                })
                    .then(response => {
                        this.data.unshift({
                            institution: this.data.institution,
                            course: this.data.course,
                            award: this.data.award,
                            date_from: this.data.from,
                            date_to: this.data.to
                        });
                      this.reset();
                        $("#add_education_model").modal("hide");
                    })
                    // .catch(error => {
                    //     this.errors = [];
                    //     if (error.response.data.errors.title) {
                    //         this.errors.push(error.response.data.errors.title[0]);
                    //     }

                    //     if (error.response.data.errors.description) {
                    //         this.errors.push(error.response.data.errors.description[0]);
                    //     }
                    // });
            },

            reset(){               
                   this.data.institution = '';
                   this.data.course = '';
                    this.data.award = '';
                   this.data.from = '';
                   this.data.to = '';
            },

            initUpdate(index){
                this.errors = [];                
                $("#update_post_model").modal("show");
                this.update = this.data[index];
            },

             updatePost()
            {
                axios.patch('/api/achievement/'+this.update.id, { 
                    type: 'education',                  
                    institution: this.update.institution,
                    course: this.update.course,
                    award: this.update.award,
                    date_from: this.update.date_from,
                    date_to: this.update.date_to
                }) 
                    .then(response => {
 
                        $("#update_post_model").modal("hide");
 
                    })
                    .catch(error => {
                        this.errors = [];
                        // if (error.response.data.errors.title) {
                        //     this.errors.push(error.response.data.errors.title[0]);
                        // }
 
                        // if (error.response.data.errors.description) {
                        //     this.errors.push(error.response.data.errors.description[0]);
                        // }
                    });
            },

        makeDefault(index){
                let conf = confirm("Are you ready to make this record default status?");
                if (conf === true) {
                    axios.patch('/api/achievement/' + this.data[index].id, {
                        type: 'default'
                    })
                        .then(response => {
                            // this.data.splice(index, 1);
                        })
                        .catch(error => {

                        });
                }
            },
         
         deletePost(index){
                let conf = confirm("Are you ready to delete this record?");
                if (conf === true) {
                    axios.delete('/api/achievement/' + this.data[index].id)
                        .then(response => {
                            this.data.splice(index, 1);
                        })
                        .catch(error => {

                        });
                }
            }
    }

}
</script>
