<template>
  <div class="tab-pane" id="followers" role="tabpanel">
    <div class="card-body">                                    
    <div class="row el-element-overlay">
                    <div class="col-md-12">
                        <h4 class="card-title">Followers</h4>
                        <h6 class="card-subtitle m-b-20 text-muted">You can use by default <code>el-overlay</code></h6> </div>
                    <div class="col-lg-4 col-md-4 col-sm-3" v-for="followers in this.$parent.profile.followers" :key="followers.id">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> 
                                    <img :src="'/storage/'+ followers.avatar" alt="user">                                    
                                </div>
                                
                                <div class="el-card-content">
                                <h6 class="box-title">{{followers.name}}</h6> 
                                    <small>Mentor / Followers</small>
                                    <br>                                     
                                </div>
                            </div>
                        </div>
                    </div>
                                     
                   
                </div>         
    </div>
</div>
<!--second tab-->
</template>

<script>
export default {
  
}
</script>

