<template>
  <span>
                                        <div class="card-body p-0 stickyside">
                                            <my-interest></my-interest>
                                            <br>
                                            <!-- <my-pined-articles></my-pined-articles>    -->                              
                                        </div> 
  </span>
</template>
<script>

export default {
  
}
</script>
