<template>
  <!-- Column -->
  <span>

                <!-- <div class="profile-cover">
					<div class="profile-cover-img" style="background-image: url(../assets/images/placeholders/cover.jpg)"></div>
					<div class="media align-items-center text-center text-md-left flex-column flex-md-row m-0">
						<div class="mr-md-3 mb-2 mb-md-0">
							<a href="#" class="profile-thumb">
								<img src="../assets/images/placeholders/placeholder.jpg" class="border-white rounded-circle" width="48" height="48" alt="">
							</a>
						</div>

						<div class="media-body text-white">
				    		<h1 class="mb-0">Hanna Dorman</h1>
				    		<span class="d-block">UX/UI designer</span>
						</div>

						<div class="ml-md-3 mt-2 mt-md-0">
							<ul class="list-inline list-inline-condensed mb-0">
								<li class="list-inline-item"><a href="#" class="btn btn-light border-transparent legitRipple"><i class="icon-file-picture mr-2"></i> Cover image</a></li>
								<li class="list-inline-item"><a href="#" class="btn btn-light border-transparent legitRipple"><i class="icon-file-stats mr-2"></i> Statistics</a></li>
							</ul>
						</div>
					</div>
				</div> -->


               <div class="card">
                            <div class="card-body p-t-0" style="padding-left: 0.96rem;">
                                <div class="row">
                                    
                                <div class="col-xs-12 col-sm-12 col-md-8 b-r p-0">
                                    <!-- <img class="card-img-top rounded-0" src="/assets/images/background/0.jpg" alt="Card image cap">                                       -->
                                <div class="card-body little-profile text-center">
                                    <div class="pro-img">
                                        <img :src="'/storage/'+profile.avatar" class="img-circle" width="150" />
                                    </div>
                                    <h3 class="m-b-0">{{profile.name}}</h3>
                                    <h6 class="card-subtitle" v-if="profile.status === 2">Mentor</h6> 
                                    <span v-for="status in profile.status" :key="status.id">
                                        <span v-if="status.type === 'education'">
                                            <i class="fa fa-graduation-cap"></i>  <span>Studied {{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                        <span v-else-if="status.type === 'work'">
                                            <span>{{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span>
                                        <span v-else-if="status.type === 'award'">
                                            <span>Awarded {{status.award}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                    </span>                                                           
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-6">
                                            <follow-button :id="profile.id" :type="'follow'"></follow-button>
                                            <router-link v-bind:to="{name: 'editProfile'}" class="btn btn-info btn-sm"> Subscribe</router-link>
                                            <new-direct-message :id="profile.id" :name="profile.name"></new-direct-message>
                                        </div>                                
                                        <div class="col-md-3 pull-right">
                                            <edit-profile :id="profile.id"></edit-profile>
                                            <router-link v-bind:to="{name: 'editProfile'}">Edit profile</router-link>
                                        </div>
                                    </div>

                                <hr class="m-t-20">    
                                <div class="row"> 
                                        <div class="col-12">                                       
                                           
                                            <div class="d-flex flex-wrap">
                                                <p v-if="about"><read-more more-str="read more" :text="about" link="#" less-str="read less" :max-chars="200"></read-more> </p> 
                                            </div>

                                        </div>                                                                      
                                </div>
                                </div>                                 
                            </div>

                        <div class="col-xs-6 col-md-4">
                            <div class="card-body">                            
                            <ul class="list-icons d-flex flex-item text-center p-t-0">
                                <!-- <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-20"></i></a></li>
                                <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-20"></i></a></li>
                                <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-20"></i></a></li>
                                <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Youtube"><i class="fa fa-youtube-play font-20"></i></a></li>                                 -->
                            </ul>

                             <div>
                                <hr class="m-t-10 m-b-10">
                            </div>

                                <span v-if="award">
                                    <p v-for="award in award.slice(0,2)" :key="award.id">
                                        <span>Awarded {{award.award}} ,</span> <span class="text-muted">at {{award.institution}}</span>
                                    </p>
                                </span>
                                <span  v-if="education">
                                    <p v-for="education in education.slice(0,2)" :key="education.id">
                                        <i class="fa fa-graduation-cap"></i>  <span>Studied {{education.course}} ,</span> <span class="text-muted">at {{education.institution}}</span>
                                    </p>
                                </span>
                                <span v-if="work">
                                    <p v-for="work in work.slice(0,2)" :key="work.id">
                                        <span>{{work.course}} ,</span> <span class="text-muted">at {{work.institution}}</span>
                                    </p>
                                </span>
                                
                             <div>
                                <hr class="m-t-0 m-b-0">
                            </div>                 
                                
                                <div class="row text-left p-10">                                    
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-account-check"></i> {{this.$parent.totalFollowers()}} Friends you know, <span class="text-muted">{{this.$parent.totalFollowers()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-account-check"></i> {{this.$parent.totalFollowers()}} followers, <span class="text-muted">{{this.$parent.totalFollowers()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-account-star-variant"></i> {{this.$parent.totalFollowing()}} Following, <span class="text-muted">{{this.$parent.totalFollowing()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-book-open"></i> {{this.$parent.totalArticles()}} Articles <span class="text-muted"></span></h6>
                                    </div>
                                     <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-heart-outline"></i> {{this.$parent.totalArticleLikes()}} Article likes <span class="text-muted">{{this.$parent.totalArticleLikes()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-eye"></i> {{this.$parent.totalArticleViews()}} Article views <span class="text-muted">{{this.$parent.totalArticleViews()}} this month</span></h6>
                                    </div>
                                </div>        
                            </div>
                            
                        </div>
                    </div>
                </div>                                
             </div>
            </span>
                    

</template>

<script>
import editProfile from './addEditProfile'
export default {
    data(){
			return {
                profile: '',                
			}
		},

  mounted(){
      this.getProfile();
  },

  methods:{
    getProfile() {
        Axios.get('/api/get/profile/' + this.$route.params.slug)
        .then((response) => {
        this.profile = response.data;
        });
    },
  },

     components:{
         'edit-profile': editProfile,
     },
     computed:{
         education(){
            return this.$parent.profile.achievement.filter(function(data){
                  return data.type.match('education')
             })
         },
         work(){
            return this.$parent.profile.achievement.filter(function(data){
                  return data.type.match('work')
             })
         },
          award(){
            return this.$parent.profile.achievement.filter(function(data){
                  return data.type.match('award')
             })
         },
         about(){
             return this.$parent.profile.about
         }
     }
}
</script>
