<template>
  <span>
        <div class="card">
			<div class="card-body">
				<h6 class="p-1 m-0 text-info">
					<h5>Followers</h5>
				</h6>
				<div class="d-flex flex-wrap align-items-center" v-if="this.userData.followers">
					<a href="#" class="m-0"  v-for="follower in this.userData.followers" :key="follower.id">
                        <img :src="'/storage/'+follower.avatar" :alt="follower.name" class="rounded-round" width="36" height="36" alt="">
                    </a>
					<a href="#" class="ml-2 btn-outline bg-grey border-grey text-grey-600 btn-icon rounded-round border-2 legitRipple"><i class="icon-plus2"></i> 27 more</a>
				</div>
                <h6 class="p-1 m-0 text-info">
					<h5>Following</h5>
				</h6>
				<div class="d-flex flex-wrap align-items-center"  v-if="this.userData.following">
					<a href="#" class="m-0"  v-for="following in this.userData.following" :key="following.id">
                        <img :src="'/storage/'+following.avatar" :alt="following.name" class="rounded-round" width="36" height="36">
                    </a>
					<a href="#" class="ml-2 btn-outline bg-grey border-grey text-grey-600 btn-icon rounded-round border-2 legitRipple"><i class="icon-plus2"></i> 27 more</a>
				</div>
			</div>
		</div>
     <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row">
                 <div class="round align-self-center round-info"><i class="ti-user"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">2,690</h3>
                        <h5 class="text-muted m-b-0">Subscribers</h5>
                    </div>
            </div>
        </div>
    </div>

    <interest-suggest></interest-suggest>

  </span>
</template>
<script>
export default {
  props:['userData']
}
</script>

