<template>
 <div class="tab-pane" id="stats" role="tabpanel">
                                    <div class="card-body">
                    <h1>Satistics</h1>
                                    </div>
 </div>
</template>
<script>
export default {
  
}
</script>
