<template>
 <div class="tab-pane" id="subscribers" role="tabpanel">
                                    <div class="card-body">
  <h1>Subscribers</h1>
                                    </div>
 </div>
</template>
<script>
export default {
  
}
</script>
