<template>
    <div class="row">                    
                   
                    <div class="col-md-8">                         
                       <create></create> 
                    </div>               
                   <div class="col-md-4 hidden-sm-down">
                       <h1>Side</h1><!-- <right-sidebar></right-sidebar> -->
                    </div>             
    </div>  
</template>

<script>
import create from './partials/create'
export default {  
  components:{
      'create': create,
  }
}
</script>