<template>
<!-- Content area -->
	<div class="content content-boxed">
          <div class="row">
            <div class="col-md-8">                         
                <index></index> 
            </div>  
                            
            <div class="col-md-4 hidden-sm-down">
                <h1>Side</h1><!-- <right-sidebar></right-sidebar> -->
            </div>             
        </div>  
	</div>
</template>

<script>
import index from './partials/index'
export default {      
  components:{
      'index': index,
  }
}
</script>

