<template>
 <!-- Content area -->
	<div class="content content-boxed"> 
        <profile v-bind:slug="this.slug" v-bind:profile="profile" v-bind:subList="subList"></profile>
    </div>
</template>

<script>
import Profile from './partials/profile.vue'

export default {  
    props:['slug'],  

    data(){
        return {            
            profile: '',
            subList: ''           
            }
        },

        
    mounted(){
        this.getProfile();
        this.getSubscriptionList();
    },

      methods:{
          getProfile() {
                Axios.get('/api/get/profile/' + this.slug)
                .then((response) => {
                this.profile = response.data;
                });
            },
        
            getSubscriptionList() {
                Axios.get('/api/subscriptionType')
                .then((response) => {
                this.subList = response.data;
                });
            },     
      },
      
      components: {
            'profile': Profile,
        },
}
</script>

