<template>
       <span>        
            
       <button @click="initAddPost()" class="btn btn-info btn-sm"> + Add</button>

        <div class="modal fade" tabindex="-1" role="dialog" id="add_post_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">                       
                        <h4 class="modal-title">Add After Thought</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" name="title" id="title" v-model="title" class="form-control" disabled>
                        </div>
                        <input type="text" name="id" id="id" :value="id" class="form-control">
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea name="description" id="description" cols="30" rows="5" class="form-control"
                            placeholder="Post Description" v-model="description" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="createPost" class="btn btn-primary">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->   
        
        </span>    
               
       

</template>

<script>
export default {
    props: ['title', 'id' ],
    data(){
        return{
            id:'',
            description: ''
        }
    },
    methods: {

         initAddPost(){
                this.errors = [];
                $("#add_post_model").modal("show");
            },   
            
            createPost(){
                axios.post('/api/afterThought', {                   
                    description: this.description,
                    id: this.id
                })
                .then(response => {
                    $("#add_post_model").modal("hide");
                    this.reset();                     
                })                    
            },

            reset(){
                this.id = ''
                this.description = '';
            },
    }
}
</script>
