<template>
           
        <span v-if="!isFollowing">
            <a href="javascript:void(0)" class="text-default mr-2 text-muted" data-toggle="tooltip" title="Bookmark" data-original-title="Bookmark" @click="toggleFollow()">
                <i class="icon-heart6 text-muted"></i> Bookmark
            </a>
        </span>
        <span v-else>
            <a href="javascript:void(0)" class="text-default mr-2 text-info" data-toggle="tooltip" title="Bookmarked" data-original-title="Bookmarked" @click="toggleFollow()">
                <i class="icon-heart6 text-info"></i> Bookmarked
            </a>
        </span>
   
</template>

<script>
export default {
    props: ['id', 'type'],
    data() {
        return {
            isFollowing: this.userIsFollowing()
        }
    },
    methods: {
        toggleFollow() {
            axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
            axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                    } else {
                        this.isFollowing = false;
                    }
                });
        }
    }
}
</script>
