<template>

<span>
                <div class="row el-element-overlay">
                    <div class="col-md-12">
                        <h4 class="card-title">Follow Categories You are Interested In</h4>
                        <h6 class="card-subtitle m-b-20 text-muted">You can use by default <code>el-overlay</code></h6> </div>
                    <div class="col-md-6 col-lg-6 col-xlg-4" v-for="category in categories" :key="category.id">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <router-link  v-bind:to="{name: 'profile', params: {slug: category.slug}}"> 
                                        <img :src="'/storage/'+category.avatar" alt="category" class="img-circle img-responsive" v-on:click="goTo();">
                                    </router-link>  
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{category.name}}</h3>
                                    <address>
                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107                                                                                
                                    </address>
                                    <hr>
                                    <InterestButton :id="category.id" :type="'interest'"></InterestButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   </span>

</template>
<script>
    import InterestButton from './InterestButton.vue';
    export default {       
        data(){
            return{
                categories:'',
            }
        },

         mounted(){
            this.geCategories();      
        },

        methods:{          
                geCategories() {   
                Axios.get('/api/get/categories')
                .then((response) => {
                this.categories = response.data;
                });
            },
        },

        components:{
            'InterestButton': InterestButton
        },
        
    }
</script>
