<template>
   
        <span v-if="!isFollowing">
            <a class="btn btn-outline-info btn-sm waves-effect waves-light" @click="toggleFollow()">
                Follow
            </a>
        </span>
        <span v-else>
            <a class="btn btn-info btn-sm waves-effect waves-light" @click="toggleFollow()">
               Following
            </a>
        </span>
    
</template>

<script>
export default {
    props: ['id', 'type'],
    data() {
        return {
            isFollowing: this.userIsFollowing()
        }
    },
    methods: {
        toggleFollow() {
            axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
            axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                    } else {
                        this.isFollowing = false;
                    }
                });
        }
    }
}
</script>
