<template>
   <div>
                
                        <div class="card">
                             <div class="card-body">
                                <h3 class="card-title">Interets to follow </h3>                           
                                <div class="table-responsive">
                                    <table class="table m-b-0  m-t-30 no-border">
                                        <tbody>
                                            <tr v-for="category in categories" :key="category.id">
                                                <td style="width:90px;">
                                                    <span class="">
                                                        <!-- <router-link  v-bind:to="{name: 'profile', params: {slug: mentor.slug}}">                                                         -->
                                                        <img :src="'/storage/'+category.avatar" :alt="category.name" width="60"> 
                                                        <!-- </router-link>                                                       -->
                                                    </span>
                                                </td>
                                                <td style="width:200px;">
                                                    <!-- <router-link  v-bind:to="{name: 'profile', params: {slug: mentor.slug}}">   -->
                                                        <h5>{{category.name}}</h5>
                                                    <!-- </router-link> -->
                                                    <InterestButton :id="category.id" :type="'interest'"></InterestButton>                                              
                                                </td>                                                                                                
                                            </tr>                                           
                                            <tr>
                                                <td colspan="2">
                                                    <router-link v-bind:to="{name: 'Mentors'}">
                                                        <h6>View More Interest</h6>
                                                    </router-link>
                                                </td>
                                            </tr>
                                                                                                                                
                                        </tbody>                                        
                                    </table>
                                </div>
                        </div>
                        </div>

   </div>
</template>
<script>
    import InterestButton from './InterestButton.vue';
    export default {       
        data(){
            return{
                categories:'',
            }
        },

         mounted(){
            this.geCategories();      
        },

        methods:{          
                geCategories() {   
                Axios.get('/api/get/categories')
                .then((response) => {
                this.categories = response.data;
                });
            },
        },

        components:{
            'InterestButton': InterestButton
        },
        
    }
</script>
