<template>           
        <span v-if="!isFollowing">
            <a href="javascript:void(0)" class="text-default text-muted mr-2" data-toggle="tooltip" title="Like this post" data-original-title="Like" @click="toggleFollow()">
               <i class="icon-heart6 text-muted"></i> {{count}} Like
            </a>
        </span>
        <span v-else>
            <a href="javascript:void(0)" class="text-default text-info mr-2" data-toggle="tooltip" title="You Liked this post" data-original-title="Like" @click="toggleFollow()">
               <i class="icon-heart6"></i> {{count}} Unlike
            </a>
        </span>   
</template>

<script>
export default {
    props: ['id', 'type', 'likeable', 'count'],
    data() {
        return {
            isFollowing: this.userIsFollowing()
        }
    },
    methods: {
        toggleFollow() {
            axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
            axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                        count++;
                    } else {
                        this.isFollowing = false;
                        count--;
                    }
                });
        }
    }
}
</script>
