<template>

			<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">Mentor to follow</span>
									<router-link class="ml-auto label label-outline text-info" v-bind:to="{name: 'mentors'}">
                                        <i class="icon-plus2 text-info"></i> see all   
                                    </router-link>									
								</div>

								<div class="card-body" style="">
									<ul class="media-list">
										
										<li class="media" v-for="mentor in mentors" :key="mentor.id">
											<router-link class="mr-2"  v-bind:to="{name: 'profile', params: {slug: mentor.slug}}">                                                        
                                                <img :src="'/storage/'+mentor.avatar" :alt="mentor.name" class="rounded-circle" width="36" height="36">
                                            </router-link> 
											<div class="media-body mr-0">
												<router-link class="media-title"  v-bind:to="{name: 'profile', params: {slug: mentor.slug}}">  
													<div class="font-weight-semibold text-info">{{mentor.name}}</div>
                                                </router-link>
												<router-link class="text-info" v-bind:to="{name: 'subscription', params: {slug: mentor.slug}}">
                                                    Subscribe
                                                </router-link> 
												<!-- <span class="text-muted" v-for="status in mentor.status" :key="status.id"> 
													<span v-if="status.type === 'education'">
														<span>Studied {{status.course}} ,</span> <span>at {{status.institution}}</span>
													</span> 
													<span v-else-if="status.type === 'work'">
														<span>{{status.course}} ,</span> <span>at {{status.institution}}</span>
													</span>
													<span v-else-if="status.type === 'award'">
														<span>Awarded {{status.award}} ,</span> <span>at {{status.institution}}</span>
													</span> 
												</span>  -->
											</div>
                                            <div class="ml-0 align-self-center">
                                                <FollowButton :id="mentor.id" :type="'follow'"></FollowButton>									
											</div>											
										</li>

									</ul>
								</div>
							</div>


</template>
<script>
   
    import FollowButton from './FollowButton.vue';
    export default {       
        computed: {			
            mentors(){
				return this.$store.state.mentors;
			}
        },
      
        components: {
            'FollowButton': FollowButton,            
		},

		
        
    }
</script>
