<template>
<!-- Content area -->
	<div class="content content-boxed">

                <div class="row el-element-overlay">
                    <div class="col-md-12">
                        <h4 class="card-title">Mentors You Can Follow</h4>
                        <br>
                    </div>
                    
                    <div class="col-md-3 col-lg-3 col-xlg-4" v-for="mentor in mentors" :key="mentor.id">
                        <img class="card-img-top img-fluid" :src="'/storage/images/placeholders/cover.jpg'" alt="" style="margin-bottom: -70px;">						   
                        <div class="card card-body">
                            <div class="row mb-1" style="margin-top: -55px;">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <router-link  v-bind:to="{name: 'profile', params: {slug: mentor.slug}}"> 
                                        <img :src="'/storage/'+mentor.avatar" alt="user" class="rounded-circle" width="70" height="70">
                                    </router-link> 
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-1 ml-1">{{mentor.name}}</h3>
                                    <address>
                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107                                                                                
                                    </address>
                                    <hr class="m-0">                                   
                                </div>
                            </div>
                            <div class="text-center">
                                <FollowButton :id="mentor.id" :type="'follow'"></FollowButton>
                                <router-link class="text-info" v-bind:to="{name: 'subscription', params: {slug: mentor.slug}}">
                                                    Subscribe
                                </router-link> 
                            </div>                            
                        </div>
                    </div>

                </div>
   </div>
</template>
<script>
    import FollowButton from './FollowButton.vue';
    export default {       
        computed: {			
            mentors(){
				return this.$store.state.mentors;
			}
        },
        components: {
			'FollowButton': FollowButton
		},

		
        
    }
</script>
