<template>
 
  
                        <li class="nav-item dropdown">
                           <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                               <i class="icon-bubbles4"></i> Message
                               <span class="badge badge-pill bg-danger-400 position-static ml-auto ml-xl-2">{{this.$store.state.unread_message.length}}</span>
                           </a>
                           
                           <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                               <div class="dropdown-content-header">
                                   <span class="font-weight-semibold">Messages {{this.$store.state.unread_message.length}}</span>
                                   <!-- <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a> -->
                               </div>
       
                               <div class="dropdown-content-body dropdown-scrollable">
                                   <ul class="media-list">
                                       <li class="media" v-for="message in this.$store.state.unread_message" :key="message.id">
                                           <div class="mr-3">                                               
                                               <a href="#"><img :src=" '/storage/' + this.$store.state.user.avatar" alt="user" class="rounded-circle" width="35" height="35"></a>
                                           </div>
       
                                           <div class="media-body">
                                               <a href="#">{{this.$store.state.user.name}}</a> {{message.body}}
                                               <div class="font-size-sm text-muted mt-1">4 minutes ago</div>
                                           </div>
                                       </li>
                                   </ul>
                               </div>
       
                               <div class="dropdown-content-footer bg-light">
                                   <a href="#" class="text-grey mr-auto" v-if="this.$store.state.unread_message.length > 1">All activity</a>
                                   <div>
                                       <a href="#" class="text-grey" data-popup="tooltip" title="Clear list" v-if="this.$store.state.unread_message.length > 1"><i class="icon-checkmark3"></i></a>
                                       <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-gear"></i></a>
                                   </div>
                               </div>
                           </div>
                       </li>

                      

                       
</template>

<script>
export default {
    
}
</script>
