<template>
  <div class="card-body mt-0">
      <div class="card-header bg-transparent header-elements-inline mb-2 pb-1">
                  <h5 class="card-title text-muted font-weight-semibold">My Interest</h5>                   		
                  <router-link class="ml-auto label label-outline" v-bind:to="{name: 'interest'}"><h6 class="pull-right">Edit</h6></router-link>							
				</div>       
     
        <li class="list-item" v-for="interest in user.interest" :key="interest.id">
            <a href="">{{interest.category.name}}</a>
        </li>  
    </div> 
</template>
<script>
export default {
  computed:{
       user(){
			return this.$store.state.user;
		},
  }
}
</script>

