<template>
  <div class="card-body p-0">
        <router-link v-bind:to="{name: 'interest'}"><h6 class="pull-right"> Edit</h6></router-link>
        <h5 class="text-muted">My Pined Articles</h5>  
        <hr class="p-0"> 
        <li class="list-item" v-for="interest in user.interest" :key="interest.id">
        <a href="">{{interest.category.name}}</a>
        </li> 
        <div class="text-center"><a href="">View all</a> </div>
    </div> 
</template>
<script>
export default {
  computed:{
       user(){
				return this.$store.state.user;
			},
  }
}
</script>

