<template>
  <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.name}} <img :src="'/storag/'+ user.avatar" alt="" class="profile-pic" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img :src="'/storag/'+ user.avatar" alt="user"></div>
                                            <div class="u-text">
                                                <h4> {{ user.name }}</h4>
                                                <p class="text-muted"> {{ user.email }}</p>
                                             </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li> <router-link  v-bind:to="{name: 'profile', query: {id: post.user.id}, params: {slug: post.user.slug}}"> My Profile</li>
                                    <li> <router-link  v-bind:to="{name: 'dashboard', params: {slug: post.user.slug}}"> Dashboard</li>
                                    <!-- <li><a href="{{url('/5', Auth::user()->slug )}}"><i class="ti-wallet"></i> Dashboard</a></li>
                                    <li><a href="{{url('/5', Auth::user()->slug )}}"><i class="ti-email"></i> Inbox</a></li> -->
                                    <li role="separator" class="divider"></li>
                                    <!-- <li><a href="{{url('/5', Auth::user()->slug) }}"><i class="ti-settings"></i> Account Setting</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ route('logout') }}"
                                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                                     <i class="fa fa-power-off"></i> {{ __('Logout') }}</a>
                                     <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                        @csrf
                                    </form>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
</template>

<script>
export default {
  computed:{
      user(){
          this.$store.state.user
      }
  }
}
</script>
