<template>
    <li class="nav-item dropdown">                       
            <div class="form-group form-group-feedback-left dropdown-toggle caret-0" data-toggle="dropdown">
                    <input type="text" class="form-control form-control-sm" placeholder="Search"  @keyup.prevent="search"
                            v-model="query"
                    >
                    <div class="form-control-feedback form-control-feedback">
                        <i class="icon-search4 text-white"></i>
                    </div>

                    
            </div>                            
                  {{data}}                    
            <div class="dropdown-menu dropdown-menu-left dropdown-content wmin-md-350">
                <div class="dropdown-content-header">
                    <!-- <span class="font-weight-semibold">Latest activity {{auth()->user()->unreadNotifications->count()}}</span> -->
                    <!-- <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a> -->
                </div>

                <div class="dropdown-content-body dropdown-scrollable">
                    <ul class="media-list">
                                    
                    <!-- @foreach(auth()->user()->unreadNotifications as $notification)          -->
                        <li class="media">
                            <div class="mr-3">
                                <!-- <a href="#"><img src="{{url('/storage/'.$notification->data['avatar'])}}" alt="{{$notification->data['name']}}" class="rounded-circle" width="35" height="35"></a> -->
                            </div>

                            <div class="media-body">
                                <!-- <a href="#">{{$notification->data['name']}}</a> {{$notification->data['body']}} -->
                                <!-- <div class="font-size-sm text-muted mt-1">4 minutes ago</div> -->
                            </div>
                        </li>
                    <!-- @endforeach   -->
                    </ul>
                </div>   
                
            </div>
        </li>   
</template>

<script>
export default {
    data() {
        return {
        query: '',
        data: []
        }
    },
    methods: {
        search() {            
            axios.get("search")
                .then(response => {
                    console.log(response.data);
                this.data = response.data;
            })
        }
    }
}
</script>

<style>

</style>
