<template>
           
        <span v-if="!isFollowing">
            <a class="link m-r-10 " data-toggle="tooltip" title="Bookmark this post" data-original-title="Like" @click="toggleFollow()">
                <i class="mdi mdi-bookmark"></i> Pin
            </a>
        </span>
        <span v-else>
            <a class="link m-r-10 " data-toggle="tooltip" title="You Bookmark this post" data-original-title="Like" @click="toggleFollow()">
                <i class="mdi mdi-bookmark-check"></i> Pined
            </a>
        </span>
   
</template>

<script>
export default {
    props: ['id', 'type'],
    data() {
        return {
            isFollowing: this.userIsFollowing()
        }
    },
    methods: {
        toggleFollow() {
            axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
            axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                    } else {
                        this.isFollowing = false;
                    }
                });
        }
    }
}
</script>
