<template>
<div class="content content-boxed">
            <invoice-list></invoice-list>
</div>
</template>

<script>
import InvoiceList from './partials/index.vue'

export default { 

   components: {
            'invoice-list': InvoiceList,            
        },
}
</script>

