<template>
<div class="content content-boxed">
          <div class="row">
            <invoice v-bind:TransID="TransID"></invoice>
          </div>
</div>
</template>

<script>
import Invoice from './partials/invoice.vue'
export default {      
  props:['TransID'],
   
  components: {
            'invoice': Invoice,            
    },
}
</script>

