<template>
<div class="container">
  <!-- {{this.$route.query.tran_response}}
          {{transID}} -->
            <payment></payment>
       <p>hello payent</p>
</div>
</template>

<script>
import payment from './partials/payment.vue'

export default {   
    data(){
     return{
        transID:'',
     }
   },
   components: {
            'payment': payment,  
      },

    created() {
      // this.updateInvoice();
    },

    methods:{
      //  updateInvoice(){
      //           axios.patch('/api/invoice/'+this.$route.query.tran_response, {
      //             type: 'payment',              
      //           } )
      //             .then(response => {                        
      //                    this.transID = response.data                        
      //             });
      //     },    
    }
}
</script>

