<template>
    <div class="chat-app">
        <Conversation :contact="selectedContact" :messages="messages" @new="saveNewMessage"/>
        <ContactsList :contacts="contacts" @selected="startConversationWith"/>
    </div>
</template>

<script>
    import Conversation from './Conversation';
    import ContactsList from './ContactsList';

    export default {
        props:['user'],
        data() {
            return {
                selectedContact: null,
                messages: [],
                contacts: [],
                userID: '',
            };
        },


        mounted() {
            Echo.private('chat.'+ this.user)
                .listen('ChatMessage', (e) => {
                    this.hanleIncoming(e.message);
                });

            axios.get('api/chat')
                .then((response) => {
                    this.contacts = response.data;
                });

        },

        methods: {
            startConversationWith(contact) {
                this.updateUnreadCount(contact, true);

                axios.get(`api/chat/${contact.id}`)
                    .then((response) => {
                        this.messages = response.data;
                        this.selectedContact = contact;
                    })
            },
            saveNewMessage(message) {
                this.messages.push(message);
            },
            hanleIncoming(message) {
                if (this.selectedContact && message.from == this.selectedContact.id) {
                    this.saveNewMessage(message);
                    return;
                }

                this.updateUnreadCount(message.from_contact, false);
            },
            updateUnreadCount(contact, reset) {
                this.contacts = this.contacts.map((single) => {
                    if (single.id !== contact.id) {
                        return single;
                    }

                    if (reset)
                        single.unread = 0;
                    else
                        single.unread += 1;

                    return single;
                })
            }
        },
        components: {
            Conversation, 
            ContactsList
        }
    }
</script>


<style lang="scss" scoped>
.chat-app {
    display: flex;
}
</style>
