<template>
  <!-- Column -->

 <div class="row">
      <div class="col-lg-4" v-for="invoice in invoice" :key="invoice.id">
								<div class="card border-left-3 border-left-info rounded-left-0">
									<div class="card-body">
										<div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
											<div>
												<h6 class="font-weight-semibold">{{invoice.user.name}}</h6>
												<ul class="list list-unstyled mb-0">
													<li>Invoice #: <a href="#">0028</a></li>
													<li>Issued on: <span class="font-weight-semibold">{{invoice.created_at}}</span></li>
												</ul>
											</div>

											<div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
												<h6 class="font-weight-semibold">
                                                    {{invoice.subscription.type}}
                                                   {{invoice.subscription.currency}}{{invoice.subscription.price}}
                                                </h6>
												<ul class="list list-unstyled mb-0">
													<li>Payment Method: <span class="font-weight-semibold">Online</span></li>
													<li class="dropdown">
														Status: &nbsp;
														<span class="badge bg-danger" v-if="invoice.status == 0">Unpaid</span>
														<span class="badge bg-info" v-else>Paid</span>
													</li>
												</ul>
											</div>
										</div>
									</div>

									<div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
										<span v-if="invoice.status == 0">
											<span class="badge badge-mark border-danger mr-2"></span>
											Due:
											<span class="font-weight-semibold">2018/02/25</span>
										</span>
                                        <span v-if="invoice.status == 1">
											<span class="badge badge-mark border-info mr-2"></span>
											Expire:
											<span class="font-weight-semibold">2019/02/25</span>
										</span>

										<ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">
											<li class="list-inline-item">
												<a href="#" class="text-default" data-toggle="modal" data-target="#invoice"><i class="icon-eye8"></i></a>
											</li>
											<li class="list-inline-item dropdown">
												<a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>

												<div class="dropdown-menu dropdown-menu-right">
													<a href="#" class="dropdown-item"><i class="icon-printer"></i> Print invoice</a>
													<a href="#" class="dropdown-item"><i class="icon-file-download"></i> Download invoice</a>
													<div class="dropdown-divider"></div>
													<a href="#" class="dropdown-item"><i class="icon-file-plus"></i> Edit invoice</a>
													<a href="#" class="dropdown-item"><i class="icon-cross2"></i> Remove invoice</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
  </div>                  

</template>

<script>

export default {

    data(){
			return {
                 invoice: [],      
			}
		},

  created(){
      this.getInvoice();
  },

  methods:{
        getInvoice(){
            Axios.get('api/invoice/')
                .then((response) => {
            this.invoice = response.data;
            });
        },

    }

}
</script>
