<template>
  <!-- Column -->
  <span>
 <div class="card">
					<div class="card-header header-elements-inline">
						<h6 class="card-title">Payment invoice</h6>
						<div class="header-elements">
							<button type="button" class="btn btn-light btn-sm legitRipple"><i class="icon-file-check mr-2"></i> Save</button>
							<button type="button" class="btn btn-light btn-sm ml-3 legitRipple"><i class="icon-printer mr-2"></i> Print</button>
	                	</div>
					</div>

					<div>
						<div contenteditable="true" class="cke_editable cke_editable_inline cke_contents_ltr" tabindex="0" spellcheck="false" role="textbox" aria-label="Rich Text Editor, editor1" title="Rich Text Editor, editor1" aria-describedby="cke_66" style="position: relative;">
                            <div class="card-body">
                            <div class="row">
                                    <div class="col-sm-6">
                                    <div class="mb-4">
                                        <img :src="'/storage/images/logo_light.png'" class="mb-3 mt-2" alt="" style="width: 120px;">
                                        <h4 class="text-primary mb-2 mt-md-2">Account Name: 5minutes</h4>
                                        <ul class="list list-unstyled mb-0">
                                            <li>GTB: 0005688586</li>
                                            <li>First Bank: 00574757</li>
                                            <li>Union Bank: 888-555-2311</li>
                                        </ul>
                                    </div>
                                 </div>
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <div class="text-sm-right">
                                        <span class="badge bg-danger" v-if="invoice.status == 0">Unpaid</span>
                                        <span class="badge bg-info" v-else>Paid</span>
                                        <h4 class="text-primary mb-2 mt-md-2">Invoice #49029</h4>
                                        <ul class="list list-unstyled mb-0">
                                            <li>Date: <span class="font-weight-semibold">January 12, 2015</span></li>
                                            <li>Due date: <span class="font-weight-semibold">May 12, 2015</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                               <div class="col-md-12">
                                   <h4>send invoice details for support@5minutes.com</h4>
                               </div>
                            </div>
                            <div class="d-md-flex flex-md-wrap">
                            <div class="mb-4 mb-md-2">
                                <span class="text-muted">Invoice To:</span>
                                <ul class="list list-unstyled mb-0">
                                    <li><h5 class="my-2">{{user.name}}</h5></li>
                                    <li>{{user.phone}}</li>
                                    <li><a data-cke-saved-href="#" href="#">{{user.email}}</a></li>                                                
                                </ul>
                            </div>                                        
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr>
                                <td>
                                    <h6 class="mb-0">
                                        {{invoice.subscription.type}}
                                        {{invoice.subscription.description}}
                                        {{'For'}}
                                        {{invoice.user.name}}
                                    </h6>
                                </td>
                                <td>
                                    <span class="font-weight-semibold">
                                        {{invoice.subscription.currency}}{{invoice.subscription.price}}
                                    </span>
                                </td>
                              </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                        <div class="d-md-flex flex-md-wrap">
                            <div class="pt-2 mb-3">
                                <!-- emty div for alignment -->
                            </div>
                            <div class="pt-2 mb-3 wmin-md-400 ml-auto">                                                                    
                            <div class="table-responsive">
                                <table class="table cke_show_border">
                                   <tbody>
                                        <tr>
                                            <th>Subtotal:</th>
                                            <td class="text-right">
                                                {{invoice.subscription.currency}}{{invoice.subscription.price}}
                                            </td>
                                        </tr>
                                        <tr>
                                                                            <th>Tax: <span class="font-weight-normal">(0%)</span></th>
                                                                            <td class="text-right">00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Total:</th>
                                                                            <td class="text-right text-primary">
                                                                                <h5 class="font-weight-semibold">
                                                                               {{invoice.subscription.currency}}{{invoice.subscription.price}}
                                                                                </h5></td>
                                                                        </tr>
                                                                        </tbody>
                                                                        </table>
                                                                        </div>
                                                                        <div class="text-center mt-3" v-if="invoice.status == 0">
                                                                            <button @click="paymentURL(invoice.paymentURL)" type="button" class="btn btn-info btn-labeled btn-labeled-left">
                                                                                <b><i class="icon-paperplane"></i></b> 
                                                                                Make Payment
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                    </div>
                                                                <div class="card-footer">
                                                                <span class="text-muted">
                                                                    Thank you for using Limitless. This invoice can be paid via PayPal, 
                                                                    Bank transfer, Skrill or Payoneer. Payment is due within 30 days 
                                                                    from the date of delivery. Late payment is possible, but with with a
                                                                     fee of 10% per month. Company registered in England and Wales #6893003, 
                                                                     registered office: 3 Goodman Street, London E1 8BF, United Kingdom.
                                                                      Phone number: 888-555-2311
                                                                </span>
                                                            </div>
                                                        </div>
					</div>
	  </div>

</span>
                    

</template>

<script>

export default {
 props:['TransID'],
 
    data(){
			return {
               invoice: '',        
			}
		},

  created(){
    this.getInvoice();        
  },

computed:{
    user(){
      return  this.$store.state.user;
    }
},
  methods:{
   getInvoice(){
       Axios.get('/api/invoice/' + this.TransID)
         .then((response) => {
       this.invoice = response.data;
    });
   },

   paymentURL(url){
       window.open(url,'_blank');
   }

  },

}
</script>
