<template>
  <!-- Column -->
  <span>hello payment
               <!-- <div class="card">
                            <div class="card-body p-t-0" style="padding-left: 0.96rem;">
                                <div class="row">
                                  
                                <div class="col-xs-12 col-sm-12 col-md-8 b-r p-0">                                    
                                <div class="card-body little-profile text-center">
                                    <div class="pro-img">
                                        <img :src="'/storage/'+mentor.avatar" class="img-circle" width="150" />
                                    </div>
                                    <h3 class="m-b-0">{{mentor.name}}</h3>
                                    <h6 class="card-subtitle" v-if="mentor.status === 2">Mentor</h6> 
                                    <span v-for="status in mentor.status" :key="status.id">
                                        <span v-if="status.type === 'education'">
                                            <i class="fa fa-graduation-cap"></i>  <span>Studied {{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                        <span v-else-if="status.type === 'work'">
                                            <span>{{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span>
                                        <span v-else-if="status.type === 'award'">
                                            <span>Awarded {{status.award}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                    </span>  
                                    <ul>
                                        <li>{{sub}}</li>
                                       
                                    </ul>                                                         
                                    <br>
                                <hr>  
                                <button @click="subscribe(mentor)">pay with amplify </button>  
                               
                                </div>                                 
                            </div>

                    </div>
                </div>                                
             </div> -->
            </span>
                    

</template>

<script>

export default {
    
    data(){
			return {
                       
			}
		},

  created(){
   
  },

  methods:{
   
  },

}
</script>
