<template>
    <div class="panel panel-default">
        <div class="panel-heading">Create Forum</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <input class="form-control" type="text" v-model="name" placeholder="Forum Name">
                </div>
                <div class="form-group">
                    <select v-model="users" multiple id="friends">
                        <option v-for="user in initialUsers" :value="user.id">
                            {{ user.name }}
                        </option>
                    </select>
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" @click.prevent="createForum" class="btn btn-primary">Create Forum</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['initialUsers'],

        data() {
            return {
                name: '',
                users: []
            }
        },

        methods: {
            createForum() {
                Axios.post('/forums', {
                    name: this.name, 
                    users: this.users
                })
                .then((response) => {
                    this.name = '';
                    this.users = [];
                    Bus.$emit('forumCreated', response.data);
                });
            }
        }
    }
</script>
