<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <forums></forums>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
