<template>
    <div>
        <forum-chat v-for="forum in forums" :forum="forum" :key="forum.id"></forum-chat>
    </div>
</template>

<script>
    export default {
        props: ['initialForums', 'user'],

        data() {
            return {
                forums: []
            }
        },

        mounted() {
            this.forums = this.initialForums;

            Bus.$on('forumCreated', (forum) => {
                this.forums.push(forum);
            });

            this.listenForNewForums();
        },

        methods: {
            listenForNewForums() {
                alert('create forum');
                Echo.private('users.' + this.user.id)
                    .listen('ForumCreated', (e) => {                        
                        this.forums.push(e.forum);
                    });
            }
        }
    }
</script>
