<template>
    <div class="content content-boxed" v-if="forums.length">
        <forum-index v-bind:forums="forums"></forum-index>
    </div>
</template>

<script>
import forumIndex from './partials/index'

export default {
     data() {
        return {
            forums: [],            
        };
    },

        created() {
            axios.get('/api/forum')
                .then(({data}) => {
                    this.forums = data
            });
        },
        
        components:{
            'forum-index': forumIndex,
        }

}
</script>
