<template>
<span>
        <div class="row">
            <div class="col-md-3">
                <!-- emty div for alignment -->
            </div>
            <div class="col-md-6">
                        <img class="card-img-top img-fluid" :src="'/storage/images/placeholders/cover.jpg'" alt="" style="margin-bottom: -70px;">						   
                        <div class="card card-body">
                            <div class="row mb-1" style="margin-top: -55px;">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <router-link  v-bind:to="{name: 'profile', params: {slug: profile.slug}}"> 
                                        <img :src="'/storage/'+profile.avatar" alt="user" class="rounded-circle" width="100" height="100">
                                    </router-link> 
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-1 ml-1">{{profile.name}}</h3>
                                    <address>
                                        <span v-for="status in profile.status" :key="status.id">
                                        <span v-if="status.type === 'education'">
                                            <i class="fa fa-graduation-cap"></i>  <span>Studied {{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                        <span v-else-if="status.type === 'work'">
                                            <span>{{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span>
                                        <span v-else-if="status.type === 'award'">
                                            <span>Awarded {{status.award}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                    </span>                                                                                
                                    </address>
                                    <hr class="m-0">                                   
                                </div>
                            </div>
                            <div class="text-center">
                                <!-- <follow-button :id="profile.id" :type="'follow'"></follow-button>                                      -->
                                <!-- <new-direct-message :id="profile.id" :name="profile.name"></new-direct-message> -->
                            </div>                            
                        </div>
            </div>
             <div class="col-md-3">
                <!-- emty div for alignment -->
            </div>
        </div>
        

               <div class="row text-center">
                   <div class="card border-y-2 border-top-info border-bottom-info rounded-0 m-3" v-for="list in subList" :key="list.id">
							<div class="card-header text-center">
								<span><h1 class="card-title"><span class="font-weight-bold">{{list.currency}}{{list.price}}</span></h1>/{{list.type}}</span>
							</div>
							
							<div class="card-body text-center">
                                <div><h3>{{list.name}}</h3></div>	
                                <div>{{list.type}}</div>	
                                <div>{{list.description}}</div>
                                <div>{{list.planId}}</div>
                                <div>{{list.id}}</div>
                                <button class="btn btn-info btn-sm" @click="subscribe(list)">Make Payment</button>                        
							</div>
						</div>                                                              
             </div>

        </span>
               
</template>

<script>

export default {
props:['slug','profile','subList'],
    
  methods:{ 
    subscribe(subItem){
        let TransID = new Date().valueOf();
        Axios.post('https://api.amplifypay.com/merchant/transact', {
            merchantId : "LOQ872EGJK52YMKCBEG",
            apiKey : "54ac96ce-cf1d-4bc3-8058-57a4b634f727",
            customerEmail : this.profile.email, 
            customerName : this.profile.name, 
            TransID : TransID,
            Amount : "1000.00", 
            redirectUrl : "http://localhost:8000/invoice/payment",
            paymentDescription : "5minutes Subscription:", 
            planId : subItem.planId
        }).then(response => {
            Axios.post('../api/invoice', {  
                mentorID : this.profile.id,
                TransID : response.data.TransID,
                TransactionRef : response.data.TransactionRef,
                PaymentUrl : response.data.PaymentUrl,
                type : subItem.id,    
            }).then(response => {                    
                this.$router.push({ name: 'invoice', params:{ TransID: TransID }}) 
            })                        
        })  
    }
   
  },

   
}
</script>
