<template>
  <!-- Column -->
  <span>
<div class="card-group mb-3">					
					<div class="card shadow-0 col-md-8 m-0 p-0">
                        	<ul class="list-inline list-inline-condensed mb-0 text-right mr-3 mt-1">                               
                                            
                                        <li class="list-inline-item text-info"><edit-profile :id="profile.id"></edit-profile></li>
                                        <li class="list-inline-item text-info"><router-link v-bind:to="{name: 'editProfile'}"><i class="icon-file-stats mr-2 text-info"></i> Edit</router-link></li>
                            </ul>
						<img class="card-img-top img-fluid" :src="'/storage/images/placeholders/cover.jpg'" alt="" style="margin-bottom: -105px; margin-top: -25px">
						    
                        <div class="card-body">
                            <div class="media align-items-center text-center text-md-left flex-column flex-md-row">
                                <div class="mr-md-3 mb-2 mb-md-0">
                                    <a href="#" class="profile-thumb">
                                        <img :src="'/storage/'+profile.avatar" class="border-white rounded-circle" width="100" height="100" alt="">
                                    </a>
                                </div>

                                <div class="media-body text-white">
                                    <h1 class="mb-0">{{profile.name}}</h1>
                                    <span class="d-block" v-for="status in profile.status" :key="status.id">
                                        <span v-if="status.type === 'education'">
                                            <i class="fa fa-graduation-cap"></i>  <span>Studied {{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                        <span v-else-if="status.type === 'work'">
                                            <span>{{status.course}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span>
                                        <span v-else-if="status.type === 'award'">
                                            <span>Awarded {{status.award}} ,</span> <span class="text-muted">at {{status.institution}}</span>
                                        </span> 
                                    </span>
                                </div>
         
                                <div class="ml-md-3 mt-2 mt-md-0">
                                    <ul class="list-inline list-inline-condensed mb-0">
                                        <li class="list-inline-item"><follow-button :id="profile.id" :type="'follow'"></follow-button></li>
                                         <li class="list-inline-item"><router-link v-bind:to="{name: 'editProfile'}" class="btn btn-info btn-sm"> Subscribe</router-link></li>
                                        <li class="list-inline-item"><new-direct-message :id="profile.id" :name="profile.name"></new-direct-message></li>
                                    </ul>
                                </div>
                            </div>
                        </div>		
                        <div class="card-body">
                            <p v-if="about">
                                <read-more more-str="read more" :text="about" link="#" less-str="read less" :max-chars="200">
                                </read-more> 
                            </p>                          
                        </div>				
					</div>

					<div class="card shadow-0 col-md-4">
						<div class="card-body">                            
                            <ul class="list-icons d-flex flex-item text-center p-t-0">
                                <!-- <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-20"></i></a></li>
                                <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-20"></i></a></li>
                                <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-20"></i></a></li>
                                <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Youtube"><i class="fa fa-youtube-play font-20"></i></a></li>                                 -->
                            </ul>

                             <div>
                                <hr class="m-t-10 m-b-10">
                            </div>

                                <span v-if="award">
                                    <p v-for="award in award.slice(0,2)" :key="award.id">
                                        <span>Awarded {{award.award}} ,</span> <span class="text-muted">at {{award.institution}}</span>
                                    </p>
                                </span>
                                <span  v-if="education">
                                    <p v-for="education in education.slice(0,2)" :key="education.id">
                                        <i class="fa fa-graduation-cap"></i>  <span>Studied {{education.course}} ,</span> <span class="text-muted">at {{education.institution}}</span>
                                    </p>
                                </span>
                                <span v-if="work">
                                    <p v-for="work in work.slice(0,2)" :key="work.id">
                                        <span>{{work.course}} ,</span> <span class="text-muted">at {{work.institution}}</span>
                                    </p>
                                </span>
                                
                             <div>
                                <hr class="m-t-0 m-b-0">
                            </div>                 
                                
                                <!-- <div class="row text-left p-10">                                    
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-account-check"></i> {{this.$parent.totalFollowers()}} Friends you know, <span class="text-muted">{{this.$parent.totalFollowers()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-account-check"></i> {{this.$parent.totalFollowers()}} followers, <span class="text-muted">{{this.$parent.totalFollowers()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-account-star-variant"></i> {{this.$parent.totalFollowing()}} Following, <span class="text-muted">{{this.$parent.totalFollowing()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-book-open"></i> {{this.$parent.totalArticles()}} Articles <span class="text-muted"></span></h6>
                                    </div>
                                     <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-heart-outline"></i> {{this.$parent.totalArticleLikes()}} Article likes <span class="text-muted">{{this.$parent.totalArticleLikes()}} this month</span></h6>
                                    </div>
                                    <div class="row col-md-12">                                        
                                        <h6><i class="mdi mdi-eye"></i> {{this.$parent.totalArticleViews()}} Article views <span class="text-muted">{{this.$parent.totalArticleViews()}} this month</span></h6>
                                    </div>
                                </div>         -->
                            </div>
					</div>
				</div>
          
               
            </span>
                    

</template>

<script>
import editProfile from './addEditProfile'
export default {
    props:['profile'],

     components:{
         'edit-profile': editProfile,
     },
     computed:{
         education(){
            return this.profile.achievement.filter(function(data){
                  return data.type.match('education')
             })
         },
         work(){
            return this.profile.achievement.filter(function(data){
                  return data.type.match('work')
             })
         },
          award(){
            return this.profile.achievement.filter(function(data){
                  return data.type.match('award')
             })
         },
         about(){
             return this.profile.about
         }
     }
}
</script>
