<template>
<!-- Content area -->
	<div class="content content-boxed">
          <div class="row">
                <div class="col-md-3 hidden-sm-down">
                    <left-sidebar ></left-sidebar>
                </div>
                <div class="col-md-6"> 
                    <view-article :slug="slug"></view-article>                                
                </div>               
                <div class="col-md-3 hidden-sm-down">
                    <right-sidebar></right-sidebar>
                </div>               
          </div>
	</div>
</template>

<script>
import leftSidebar from './partials/leftSidebar.vue'
import article from './partials/article.vue'
import rightSidebar from './partials/rightSidebar.vue'

export default {   
    props:['slug'],
    components: {
            'left-sidebar': leftSidebar,
            'right-sidebar': rightSidebar,
            'view-article': article,
    },   
     computed:{        
        user(){
				return this.$store.state.user;
			},
    },    

}
</script>
