<template>
<!-- Content area -->
	<div class="content content-boxed">
          <div class="row">
                <div class="col-md-3 hidden-sm-down">
                    <left-sidebar ></left-sidebar>
                </div>
                <div class="col-md-6"> 
                    <thoughts></thoughts>                        
                    <articles :posts="posts"></articles>                                   
                </div>               
                <div class="col-md-3 hidden-sm-down">
                    <right-sidebar></right-sidebar>
                </div>               
          </div>
	</div>
</template>

<script>
import leftSidebar from './partials/leftSidebar.vue';
import articles from './partials/articles';
import rightSidebar from './partials/rightSidebar.vue';
import thoughts from './partials/thoughts';

export default {
    computed:{
       posts(){
				return this.$store.state.posts;
            },
    },
    components: {
            'left-sidebar': leftSidebar,
            'right-sidebar': rightSidebar,
            'articles': articles,
            'thoughts': thoughts,
    },
        

}
</script>
