<template>
  <!-- Content area -->
	<div class="content content-boxed">
                         
    <div class="card border-top-1 border-top-info rounded-0">
        <education></education>
    </div>
     
 </div>
   
</template>

<script>
import Education from './partials/education.vue'
import Work from './partials/work.vue'
import awards from './partials/award.vue'

export default {  
   methods:{
        updateProfile(){
                axios.post('/api/update/profile', {                   
                   name: this.user.name,
                   email: this.user.email,
                   phone: this.user.phone,
                   birthday: this.user.birthday,
                   country_id: this.user.country_id,
                   about: this.user.about,
                })
                .then(response => {
                    $("#add_edit_profile_model").modal("hide");
                    this.reset();                       
                })                    
            },

            reset(){
                this.name = '',
                this.email = '',
                this.phone = '',
                this.birthday = '',
                this.country_id = '',
                this.about = ''
            },
   },
   
    computed:{
         user(){
				return this.$store.state.user;
			},
    },
   components:{
       'Education': Education,
       'Work': Work,
       'awards': awards,
   }

}
</script>

