<template>
  <!-- Content area -->
	<div class="content content-boxed">

          
            <div class="card border-top-1 border-top-info rounded-0">
                <div class="card-header bg-transparent header-elements-inline">
                    <h6 class="card-title font-weight-semibold">
                        <i class="icon-folder6 mr-2"></i>
                        Edit info
                    </h6>

                    <div class="header-elements">
                        <span class="text-muted mr-3">{{user.name}} </span>  
                    </div>
                </div>
                <div class="row"> 
                 <div class="card-body col-md-8">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Name:</label>
                            <div class="col-md-8">
                                <input type="text" name="name" id="name" v-model="user.name" class="form-control" disabled>
                            </div>
                        </div> 
                    </div>                                

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Email:</label>
                            <div class="col-md-8">
                                <input type="email" name="email" id="email" v-model="user.email" class="form-control" disabled>
                            </div>
                        </div> 
                    </div> 

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Phone Number:</label>
                            <div class="col-md-8">
                                <input type="text" name="phone" id="phone" v-model="user.phone" class="form-control">
                            </div>
                        </div> 
                    </div> 

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Birth Day:</label>
                            <div class="col-md-8">
                                <input id="birthday" type="date" name="birthday" v-model="user.birthday" class="form-control">                                          
                            </div>
                        </div>
                    </div>  

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Country:</label>
                                <div class="col-md-8">
                                    <input type="text" name="country_id" id="country_id" v-model="user.country_id" class="form-control">
                                </div>
                        </div> 
                    </div>

                 </div>  
                    <div class="card-body col-md-4">
                        <div class="card-body text-center">
								<div class="card-img-actions d-inline-block mb-3">
									<img class="img-fluid rounded-circle" :src="'/storage/'+user.avatar" width="170" height="170" alt="">									
								</div>
					    		<h6 class="font-weight-semibold mb-0">{{user.name}}</h6>
					    		<div class="row text-center justify-content-md-center">
                                    <input class="btn btn-info btn-sm" type="file">
                                </div>
					    </div>  
                    </div>   
                </div>                       

                <hr class="m-0">                          
                <div class="card-body col-md-12">
                    <div class="form-group row">                                                        
                        <div class="col-md-12">
                            <label class="control-label text-left">About:</label>
                            <textarea name="about" id="about" cols="30" rows="3" class="form-control"
                            placeholder="About Description" v-model="user.about"></textarea>
                        </div>
                    </div> 
                </div> 

                <div class="card-body col-md-12 text-center">                                  
                <button type="button" @click="updateProfile" class="btn btn-info waves-effect text-left" >Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                </div>

            </div>  
     
           

                         
                                    <div class="card border-top-1 border-top-info rounded-0">
                                        <education></education>
                                    </div>
                                   
                                    <div class="card border-top-1 border-top-info rounded-0">
                                        <Work></Work>
                                    </div>
                                
                                    <div class="card border-top-1 border-top-info rounded-0">
                                       <awards></awards>
                                    </div>
                                    <div class="card border-top-1 border-top-info rounded-0">
                                        Add Social Media
                                    </div>
                                
                <!-- Row -->
 </div>
   
</template>

<script>
import Education from './partials/education.vue'
import Work from './partials/work.vue'
import awards from './partials/award.vue'

export default {  
   methods:{
        updateProfile(){
                axios.post('/api/update/profile', {                   
                   name: this.user.name,
                   email: this.user.email,
                   phone: this.user.phone,
                   birthday: this.user.birthday,
                   country_id: this.user.country_id,
                   about: this.user.about
                })
                   .then(response => {
                        $("#add_edit_profile_model").modal("hide");
                        this.reset();                       
                    })                    
            },

            reset(){
                this.name = '',
                this.email = '',
                this.phone = '',
                this.birthday = '',
                this.country_id = '',
                this.about = ''
            },
   },
   
    computed:{
         user(){
				return this.$store.state.user;
			},
    },
   components:{
       'Education': Education,
       'Work': Work,
       'awards': awards,
   }

}
</script>

