<template>
<!-- Content area -->
	<div class="content content-boxed">
          <div class="row">
                <user-profile v-bind:profile="userData"></user-profile>
          </div>
          <div class="row">
            <div class="col-md-2">
                    <left-side-bar></left-side-bar>   
                </div>                                    

                <div class="col-md-6">
                    <profileArticles :slug="this.slug"></profileArticles>
                </div>     

                <div class="col-md-4">                                        
                    <right-side-bar :userData="userData"></right-side-bar>
            </div> 
          </div>
    </div>

</template>

<script>
import profile from './partials/index'
import articles from './partials/articles'
import leftSideBar from './partials/leftSideBar'
import rightSideBar from './partials/rightSideBar'
export default { 
    props:['slug'],
    data(){
        return{
            userData: '',
        }
    },
    components:{
        'user-profile': profile,
         'profileArticles': articles, 
            'left-side-bar': leftSideBar,
            'right-side-bar': rightSideBar,
    },
    created() {
        this.getProfile();
    },
    
    methods:{
        totalFollowers: function() {
                let followers = this.profile.followers.length;
                return followers > 999 ? followers % 1000 === 0 ? (followers/1000).toFixed(0) + 'k' : (followers/1000).toString(1) + 'k' : followers;
            },
    totalFollowing: function() {
                let following = this.profile.following.length;       
                return following > 999 ? following % 1000 === 0 ? (following/1000).toFixed(0) + 'k' : (following/1000).toString(1) + 'k' : following;
            }, 
    totalArticles: function() {
                let articles = this.posts.length;
                return articles > 999 ? articles % 1000 === 0 ? (articles/1000).toFixed(0) + 'k' : (articles/1000).toString(1) + 'k' : articles;
            }, 
    totalArticleLikes: function() {
                let likes = 0;
                for(let i = 0; i < this.posts.length; i++){
                    likes += parseInt(this.posts[i].likes);
                }
                return likes > 999 ? likes % 1000 === 0 ? (likes/1000).toFixed(0) + 'k' : (likes/1000).toString(1) + 'k' : likes;
            },   
    totalArticleViews: function() {
                let views = 0;
                for(let i = 0; i < this.posts.length; i++){
                    views += parseInt(this.posts[i].views);
                }
                return views > 999 ? views % 1000 === 0 ? (views/1000).toFixed(0) + 'k' : (views/1000).toString(1) + 'k' : views;
            },

    getProfile() {
        Axios.get('/api/get/profile/' + this.slug)
            .then((response) => {
                this.userData = response.data;
            });
        },
    }
    
}
</script>

