<template>
<span>
    <a href="" class="btn btn-success">
                         <router-link v-bind:to="{name: 'articles'}">
                            <span class="font-medium">View Articles</span>
                        </router-link>
                    </a>
    
    <div class="col-sm-12 col-xs-12">
                                <!-- <form  enctype="multipart/form-data"> -->
                                 
                                        <div class="form-group">
                                            <label for="interest">Interest</label>
                                            <select type="text" class="form-control" v-model="data.interest"  required>
                                                <option>Select Interest</option>
                                                <option v-for="interest in interest" :key="interest.id" :value="interest.id">{{interest.name}}</option>                                            
                                            </select>                                            
                                                
                                        </div>                            
                           
                                        <div class="form-group">
                                            <label for="title">title</label>
                                            <input type="text" class="form-control" v-model="data.title" required>
                                            
                                        </div>
                                      
                                        <div class="form-group">
                                            <label for="content">Contents</label>
                                            <textarea type="file" class="summernote form-control" v-model="data.contents" >
                                            </textarea>                                           
                                        </div>


                                        <!-- <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Upload Video</h4>
                                                <input type="file" id="video" name="video" class="dropify">
                                            </div>
                                        </div> -->
                                       
                                        <div class="form-group">
                                            <label for="date">Publish At</label>
                                                <input type="date" class="form-control" v-model="data.date" >                                                                                         
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="contentType">Article Type</label>
                                            <select class="form-control" v-model="data.type"  required>
                                                <option>Select Article Type</option>                                           
                                                <option value="0">Free</option>
                                                <option value="1">Premium</option>                                            
                                            </select> 
                                        </div> 



                                        <div class="form-group">
                                            <div class="col-lg-3 pull-left">
                                                <button type="submit"  @click="addPost(1)" class="btn btn-block btn-lg btn-info" name="publish">
                                                        <i class="fa fa-check"></i>Save Article
                                                </button>
                                            </div>
                                            <div class="col-lg-3 pull-left">
                                                <button type="submit" @click="addPost(2)" class="btn btn-block btn-lg btn-success"  name="draft">
                                                        <i class="fa fa-list"></i> Save Draft
                                                </button>
                                            </div>
                                        </div>

                                    <!-- </form> -->
                                </div>
</span>
</template>


<script>


export default {
    data() {
    return{
     interest: '',
      data:{
        interest: '',   
        title: '',         
        contents: '', 
        date: '', 
        type: '',                   
      }, 
    }
  },
   mounted(){
            this.readData();
        }, 

   methods:{
        readData(){
            Axios.get('/api/post/create')
                 .then(response => {
                  this.interest = response.data;                   
              });
          },
          addPost(value){
               Axios.post('/api/post', {
                    interest: this.data.interest,   
                    title: this.data.title,        
                    contents: this.data.contents, 
                    date: this.data.date, 
                    type: this.data.type,
                    status: value,
                })
                    .then(response => {
                        this.$router.replace('/5/articles')
                        // this.data.unshift({
                        //     institution: this.data.institution,
                        //     course: this.data.course,
                        //     award: '',
                        //     date_from: this.data.from,
                        //     date_to: this.data.to
                        // });
                    //   this.reset();
                    //   $("#add_work_model").modal("hide");
                    })
          }
    },

}
</script>
