<template>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="card">

                    <div class="card-header"></div>

 

                    <div class="card-body">
                        <ul>

                            <li v-for="article in articles.data" :key="article.id">
                                {{ article.title }} {{ article.likes }} {{ article.views }}
                            </li>

                        </ul>

                        <pagination :data="articles" @pagination-change-page="getResults"></pagination>

 

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>

 

<script>

    export default {

        mounted() {
            console.log('Component mounted.')
        },

        data() {

            return {

                articles: {},

            }

        },

         created() {
            this.getResults();
        },
        
        methods: {
            getResults(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
      
                Axios.get('api/article?page=' + page)
                    .then(response => {
                       this.articles = response.data;   
                    });
            }
        }

    }

</script>