<template>
    <span>
        <a href="" class="btn btn-info">
                         <router-link v-bind:to="{name: 'createArticle'}">
                            <span class="font-medium">Create</span>
                        </router-link>
                    </a>
        <b-table responsive striped hover small bordered :fields="fields" :items="articles">
            <!-- A virtual column -->
            <template slot="index" slot-scope="data">
                {{data.index + 1}}
            </template>
            <!-- A virtual column -->
            <template slot="is_premium" slot-scope="data">
                <span v-if="data.value">
                    <span class="badge badge-danger">Premium</span>
                </span>
                <span v-else>
                    <span class="badge badge-info">Free</span>
                </span>
            </template>
            <template slot="views" slot-scope="data">
                {{data.value}}
            </template>
            <template slot="created_at" slot-scope="data">
                <timeago :since="data.value" :auto-update="60"></timeago>
            </template>
            <template slot="id" slot-scope="data">
                <b-button size="sm" class="mr-2">
                        {{'View'}}
                </b-button>
                <b-button size="sm" class="mr-2">
                        {{'Edit'}}
                </b-button>
                <b-button size="sm" class="mr-2">
                        {{'delete'}}
                </b-button>
            </template>
            
        </b-table>
    </span>
    
</template>

<script>

import bTable from 'bootstrap-vue/es/components/table/table';
import bButton from 'bootstrap-vue/es/components/button/button';

export default {    
  data () {
    return {
      articles: [],
      fields: ['index','title', 'is_premium', 'views', 'likes','created_at','id'],
    }
  },
   mounted()
        {
            this.readData();
        }, 
   methods:{
        readData(){
            Axios.get('/api/post/'+this.user_id)
                 .then(response => {
                  this.articles = response.data;                   
              });
          },
    },
    computed:{
      user_id(){
				return this.$store.state.user.id;
		},
    },
   
  components:{
      'b-table': bTable,
      'b-button': bButton,
  }
}
</script>